##messageSource=classpath:/earthordermanagmentcustomaddon/messages/document-packlabel_$lang.properties
<html>
<head>
    <style type='text/css'>@media screen, print {
        table {
            width: 100%;
            margin:-10px 0px 0;
            font-family: "Open Sans", sans-serif;
            color: #000;
        }
        th {
            padding: 5px 5px 5px 15px;
            font-weight: bold;
            text-align: left;
            
        }
        td {
               padding: 2px 17px !important;
                font-size: 10px;
        }
        
        div.pick-slip-border{
            border-top: 1px solid #e5e9ed;
        }
        
        td.headline{
              font-size: 16px;
    font-weight: 600;
    padding-bottom: 15px;
    color: #000;
        }
        td.table-header{
            font-size: 19px;
            font-weight: 600;
            color: #000;
        }
        .sitelogo div{
        text-align:left !important;}
         
        .sitelogo img{
            max-width: 300px;
        }
        body>table{
            max-width: 1200px;
            margin-left:auto;
            margin-right:auto;
            width:100%;
        }
strong{color: #000;
    font-weight: 600;  font-size: 10px;}
    }</style>
</head>
<body style="width: 100%;
    display: block;
    margin: 0 !important;">
    <div  style = "    margin: 0 120px;"> 
<table>
     <tr>
        <td colspan="2" class="sitelogo" align="center" valign="middle">
            ${ctx.cmsSlotContents.SiteLogo}
        </td>
     
        <td style="weight:30%;text-align: right;font-size: 13px;margin-bottom: 0px;">
             $!{ctx.date}<br>
          <img src="${ctx.mediaBaseUrl}${ctx.barcode.url}" alt="" style="width: 130px;" />
        </td>
    </tr>
<br>
<br>

    <tr>
    <td  align="left" colspan="2">
       <strong>$!{ctx.messages.trnnumberLabel}$!{ctx.messages.trnnumberdesc}</strong> <br/><br/>
       <strong>  $!{ctx.messages.packSlip} </strong><br/>
      <div style="padding: 4px 0;" >$!{ctx.messages.orderId}: ${ctx.orderData.code} </div>
       <div style="padding: 4px 0;"> $!{ctx.messages.invoiceNumber} ${ctx.orderData.store} -  ${ctx.orderData.code} </div>
      <div style="padding: 4px 0;"> $!{ctx.messages.invoiceDate}
     $ctx.date.format('EEE, MMM d, yyyy', $!{ctx.consignmentData.CreateDate})</div>
 
       <div style="padding: 4px 0;"> $!{ctx.messages.deliveryDateTime}  $ctx.date.format('EEE, MMM d, yyyy', $!{ctx.consignmentData.shippingDate})</div><br/>
    </td>
    <td align="right"  style="text-align: left; float: right;">
         <strong>$!{ctx.messages.companyinformation}</strong> <br/><br/>
         <strong>  $!{ctx.messages.storeName} </strong><br/>
                <div style="padding: 4px 0;" >   $!{ctx.messages.companynamedesc} $!{ctx.warehouse.name} </div>
                 <div style="padding: 4px 0;" >  $!{ctx.messages.companyaddressdesc2} </div>
                   <div style="padding: 4px 0;" > $!{ctx.messages.companyBox} </div>
                  <div style="padding: 4px 0;" > $!{ctx.messages.companyTel} </div>
      
     </td>
 </tr>
    <tr>
        <td align="center" valign="middle">
            <a href="${ctx.baseUrl}" style="display:none; margin-top: 30px;margin-bottom:10px;">${ctx.cmsSlotContents.TopContent}</a>
        </td>
    </tr>
     <table >
     <tr>
                    <td colspan="2" class="headline" style="padding-bottom:0px"><span>$!{ctx.messages.customerOrder}</span></td>
               <!--     <td colspan="8" style="text-align: right;     padding: 20px 0px;">
                        <strong>$!{ctx.messages.packInfo}</strong>&nbsp;
                        ($!{ctx.messages.packInfoWidth} $!{ctx.escapeHtml($packInfo.width)}&nbsp;||&nbsp;
                        $!{ctx.messages.packInfoHeight} $!{ctx.escapeHtml($packInfo.height)}&nbsp;||&nbsp;
                        $!{ctx.messages.packInfoLength} $!{ctx.escapeHtml($packInfo.length)})
                    </td> -->
                </tr>
                </table>
    <tr>
        #foreach($packInfo in $ctx.consignment.packaginginfos)
            <table style="margin:0 5px 10px;width:100% ; border: 1px solid black; border-collapse: collapse;" >
            
<!--
                <tr>
                    <td colspan="2">&nbsp;</td>
                    <td colspan="4">Page $foreach.count of $ctx.consignment.packaginginfos.size()</td>
                </tr> -->
               
               
             <!--   <tr>
                    <td colspan="12"><div class="pick-slip-border"></div></td>
                </tr>
               -->
                <tr style=" border: 1px solid black; border-collapse: collapse;">
                    <th style=" border: 1px solid black; border-collapse: collapse;    padding: 5px 5px 5px 15px;"><strong> $!{ctx.messages.productNo} </strong></th>
                    <th style=" border: 1px solid black; border-collapse: collapse;     padding: 5px 5px 5px 15px;"> <strong>$!{ctx.messages.productCode}</strong> </th>
                    <!--  <th style=" border: 1px solid black; border-collapse: collapse;"> <strong>$!{ctx.messages.productImage}</strong></th> -->
                    <th style=" border: 1px solid black;border-collapse: collapse;padding: 5px 5px 5px 15px;width: 30%;" colspan="3"><strong>$!{ctx.messages.productDescription}</strong></th>
                    <th style=" border: 1px solid black; border-collapse: collapse;     padding: 5px 5px 5px 15px;"><strong>$!{ctx.messages.orderQuantity}</strong></th>
                    <th style=" border: 1px solid black; border-collapse: collapse;     padding: 5px 5px 5px 15px;"><strong>$!{ctx.messages.productQuantity}</strong></th>
                    <th style="text-align:left;padding: 5px 5px 5px 15px; border: 1px solid black; border-collapse: collapse;"><strong>$!{ctx.messages.productPrice}</strong></th>
                    <th style="text-align:left; border: 1px solid black; border-collapse: collapse;     padding: 5px 5px 5px 15px;"><strong>$!{ctx.messages.vatRate}</strong></th>
                    <th style="text-align:left; border: 1px solid black; border-collapse: collapse;     padding: 5px 5px 5px 15px;"><strong>$!{ctx.messages.totalPrice}</strong></th>
                </tr>
               <!-- <tr style=" border: 1px solid black; border-collapse: collapse;">
                    <td colspan="12"><div class="pick-slip-border"></div></td>
                </tr>
            -->
                #foreach( $consignmentEntry in ${ctx.consignmentData.entries} )
                    <tr style=" border: 1px solid black; border-collapse: collapse; padding: 5px 5px 5px 15px;">
                        <td style=" border: 1px solid black; border-collapse: collapse; padding: 5px 5px 5px 15px;"> $foreach.count</td>
                        <td style=" border: 1px solid black; border-collapse: collapse; padding: 5px 5px 5px 15px;">$!{ctx.escapeHtml($consignmentEntry.orderEntry.product.code)}</td>
                        <!-- <td style=" border: 1px solid black; border-collapse: collapse;"><img src="${ctx.mediaBaseUrl}$!{ctx.getCustomProductImageURL($consignmentEntry.orderEntry.product)}" /></td> -->
                        <td style=" border: 1px solid black; border-collapse: collapse; padding: 5px 5px 5px 15px;" colspan="3">$!{ctx.escapeHtml($consignmentEntry.orderEntry.product.name)}<br/>
                  
                            <strong> $!{ctx.escapeHtml($consignmentEntry.orderEntry.product.unitOfMeasureDescription)}</strong>
                        </td>
                        <td style="padding-left: 0; border: 1px solid black; border-collapse: collapse; padding: 5px 5px 5px 15px;">
                            #if($!{consignmentEntry.orderEntry.product.unit.unitType} == 'KG')
                                                       $!{consignmentEntry.wieghtedQuantity} $!{ctx.messages.outOf}  $!{consignmentEntry.wieghtedQuantity}
                           #else $!{consignmentEntry.quantity} $!{ctx.messages.outOf} $!{consignmentEntry.quantity}
                                                      #end 
                            $!{consignmentEntry.orderEntry.product.unit.unitType}
                        </td>
                         <td style="text-align:left;padding-right:90px ; border: 1px solid black; border-collapse: collapse; padding: 5px 5px 5px 15px;">$!{consignmentEntry.orderEntry.quantityShipped}</td> 
                           #if($!{consignmentEntry.orderEntry.product.unit.unitType} == 'KG')
                       <td style="text-align:left;padding-right:90px ; border: 1px solid black; border-collapse: collapse; padding: 5px 5px 5px 15px;">$!{consignmentEntry.orderEntry.product.unitPrice.value}/$!{consignmentEntry.orderEntry.product.unit.unit}</td>
                      #else <td style="text-align:left;padding-right:90px ; border: 1px solid black; border-collapse: collapse; padding: 5px 5px 5px 15px;">$!{ctx.number.format('#0.00', $!{consignmentEntry.orderEntry.basePrice.value})}</td> #end
                         <td style="text-align:left;padding-right:90px; border: 1px solid black; border-collapse: collapse; padding: 5px 5px 5px 15px;"> $!{ctx.number.format('#0.00', $!{consignmentEntry.orderEntry.taxValues})}</td>
                        <td style="text-align:left; padding-right: 5px; border: 1px solid black; border-collapse: collapse; padding: 5px 5px 5px 15px;" >$!{ctx.number.format('#0.00', $!{consignmentEntry.orderEntry.totalPriceWithTax.value})}</td>
                       
                    </tr>
                #end
               <!-- <tr>
                    <td colspan="12"><div class="pick-slip-border"></div></td>
                </tr>
               -->
                
            </table>
            <table style= "     width: 40%;float: right;">
                
<tr>
                    <td colspan="3"></td>
                    <td colspan="2">$!{ctx.messages.subTotal}</td>
                    <td style="text-align:right;">$!{ctx.number.format('#0.00', $!{ctx.orderData.subTotalBeforeSavingPrice.value})}</td>
                </tr>
                 <tr>
                    <td colspan="3"></td>
                    <td colspan="2">$!{ctx.messages.vat}</td>
                    <td style="text-align:right;">$!{ctx.number.format('#0.00', $!{ctx.orderData.totalTax.value})}</td>
                </tr>
                
                <tr>
                    <td colspan="3"></td>
                    <td colspan="2">$!{ctx.messages.shipping}</td>
                    <td style="text-align:right;">#if(${ctx.orderData.deliveryCost} && ${ctx.orderData.deliveryCost.value} > 0) ${ctx.orderData.deliveryCost.value} #else ${ctx.messages.free} #end</td>
                </tr>
                 #if($!{ctx.orderData.totalDiscounts} && $!{ctx.orderData.totalDiscounts.value} > 0)
                 <tr>
                    <td colspan="3"></td>
                    <td colspan="2">$!{ctx.messages.orderDiscount}</td>
                    <td style="text-align:right;">-$!{ctx.number.format('#0.00', $!{ctx.orderData.totalDiscounts.value})}</td>
                </tr>
                #end
                 #if (${ctx.orderData.storeCreditAmount}) 
                <tr>
                    <td colspan="3"></td>
                    <td colspan="2">$!{ctx.messages.storeCreditAmount}</td>
                    <td style="text-align:right;">$!{ctx.number.format('#0.00', $!{ctx.orderData.storeCreditAmount.value})}</td>
                </tr>
                 #end

                                

				#if($!{ctx.orderData.loyaltyAmount} && $!{ctx.orderData.loyaltyAmount.value} > 0) 
	                <tr>
	                    <td colspan="3"></td>
	                    <td colspan="2">$!{ctx.messages.loyaltyAmount}</td>
	                    <td style="text-align:right;">$!{ctx.number.format('#0.00', $!{ctx.orderData.loyaltyAmount.value})}</td>
	                </tr>
				#end
                  
               <!-- <tr>
                    <td colspan="3"></td>
                    <td colspan="3"><div class="pick-slip-border"></div></td>
                </tr> -->
                <tr>
                    <td colspan="3"></td>
                    <td colspan="2"><span style="font-weight:bold">$!{ctx.messages.total}</span></td>
                    #set ($total = $!{ctx.orderData.totalPriceWithTax.value})
                    <td style="text-align:right;"><span style="font-weight:bold">$!{ctx.number.format('#0.00', $total)}</span></td>
                </tr>

            </table>
            <!--  <tr>
           <td colspan="2">
              <div class="pick-slip-border"></div>
            </td>

          </tr> --> 
               <td>
     <p style="    float: left; width: 100%; border: 1px solid #000; padding: 3px; text-align: center; font-size: 13px; font-weight: 500;
    font-family: "Open Sans", sans-serif;">$!{ctx.messages.totalPriceInclueTax} ${ctx.orderData.totalPriceWithTax.formattedValue}</p>
          </td>
                  <!--   <tr>
            <td colspan="2">
              <div class="pick-slip-border"></div>
            </td>
          </tr> -->
          <br>
          
        #end
        
         #foreach($packInfo in $ctx.consignment.packaginginfos)
            <table>
   <tr>
   <td  style="text-align: left;vertical-align: top;">
                    <strong style="    display: inline-block;">Payment Method</strong>
                  #if(${ctx.orderData.paymentInfo}) <p style='margin:3px 0 5px 0;'>
           			   <font color='#000' size='2' face='Arial, Helvetica, sans-serif' st>${ctx.messages.getMessage('paymentCardType', ${ctx.orderData.paymentInfo.cardType})}</font>
           				
             #elseif (${ctx.orderData.noCardPaymentInfo} && ${ctx.orderData.noCardPaymentInfo.noCardTypeData})
                 #if(${ctx.orderData.paymentMode.name} == 'CONTINUE')
                  #if ( ${ctx.orderData.storeCreditAmount.value} > 0  && ${ctx.orderData.loyaltyAmountSelected.value} > 0  && !$ctx.orderData.appliedProductPromotions.isEmpty())
                  <p style='margin:3px 0 5px 0;     display: inline-block;'>  
                    <font color='#000' size='2' face='Arial, Helvetica, sans-serif'>${ctx.messages.getMessage('storeCreditCouponLoyalty')} </font>
                  </p> 
                  #elseif(${ctx.orderData.storeCreditAmount.value} > 0  && ${ctx.orderData.loyaltyAmountSelected.value} > 0)
                  <p style='margin:3px 0 5px 0; display: inline-block;'>  
                    <font color='#000' size='2' face='Arial, Helvetica, sans-serif'>${ctx.messages.getMessage('storeCreditLoyalty')} </font>
                  </p>
                 #elseif((!$ctx.orderData.appliedProductPromotions.isEmpty()) && ${ctx.orderData.loyaltyAmountSelected.value} > 0)
                  <p style='margin:3px 0 5px 0; display: inline-block;'>  
                    <font color='#000' size='2' face='Arial, Helvetica, sans-serif'>${ctx.messages.getMessage('loyaltyCoupon')} </font>
                  </p>   
                #elseif(${ctx.orderData.storeCreditAmount.value} > 0  &&  !$ctx.orderData.appliedProductPromotions.isEmpty() )
                  <p style='margin:3px 0 5px 0; display: inline-block;'>  
                    <font color='#000' size='2' face='Arial, Helvetica, sans-serif'>${ctx.messages.getMessage('storeCreditCoupon')} </font>
                  </p>
                #elseif(!$ctx.orderData.appliedProductPromotions.isEmpty() )
                  <p style='margin:3px 0 5px 0; display: inline-block;'>  
                    <font color='#000' size='2' face='Arial, Helvetica, sans-serif'>${ctx.messages.getMessage('coupon')} </font>
                  </p>
                #elseif(${ctx.orderData.storeCreditAmount.value} > 0 )
                  <p style='margin:3px 0 5px 0; display: inline-block;'>  
                    <font color='#000' size='2' face='Arial, Helvetica, sans-serif'>${ctx.messages.getMessage('storeCredit')} </font>
                  </p> 
                #elseif(${ctx.orderData.loyaltyAmountSelected.value} > 0))
                  <p style='margin:3px 0 5px 0; display: inline-block;'>  
                    <font color='#000' size='2' face='Arial, Helvetica, sans-serif'>${ctx.messages.getMessage('fullLoyalty')} </font>
                  </p> 
                #end 
                #else
                  <p style='margin:3px 0 5px 0; display: inline-block;'>  
                    <font color='#000' size='2' face='Arial, Helvetica, sans-serif'>${ctx.orderData.noCardPaymentInfo.noCardTypeData.code}</font>
                  </p>    
                    
                #end              
              
            #end
          </td>
                    
   <tr/>
                <tr>
                    <td style="text-align: left;vertical-align: top;">
                   <strong> $!{ctx.messages.shippingAddressLine1}</strong> <br/> 
                      <div style="padding: 4px 0;" >  $!{ctx.escapeHtml($ctx.consignment.shippingAddress.title)} </div>
                     <div style="padding: 4px 0;" >   $!{ctx.escapeHtml($ctx.consignment.shippingAddress.firstname)} 
                    $!{ctx.escapeHtml($ctx.consignment.shippingAddress.lastname)}  </div>
                      <div style="padding: 4px 0;" >  $!{ctx.consignmentData.shippingAddress.mobileNumber}</div>
                       <div style="padding: 4px 0;" > ${ctx.consignmentData.shippingAddress.formattedAddress}</div>
                    </td>
                    
                  
          <td style="    text-align: left; vertical-align: top; float: right;">
                        <strong>$!{ctx.messages.shipTo} </strong><br/>
                        <div style="padding: 4px 0;" > $!{ctx.escapeHtml($ctx.consignment.shippingAddress.title)} </div>
                       <div style="padding: 4px 0;" > $!{ctx.escapeHtml($ctx.consignment.shippingAddress.firstname)} 
                        $!{ctx.escapeHtml($ctx.consignment.shippingAddress.lastname)} 
                      </div>
                      <div style="padding: 4px 0;" >  $!{ctx.consignmentData.shippingAddress.mobileNumber}</div>
                        <div style="padding: 4px 0;" >${ctx.consignmentData.shippingAddress.formattedAddress}</div>
                        #if(${ctx.consignment.order.deliveryInstructions} && ${ctx.consignment.order.deliveryInstructions} != '')
                            <br/><div style="padding: 4px 0;" > <strong>$!{ctx.messages.deliveryInstructions}</strong> </div> <br/>
                            $!{ctx.escapeHtml($ctx.consignment.order.deliveryInstructions)} <br/>
                        #end
          </td>                
                </tr>  
            </table>
    
    <table>
        <tr>
        <td align="center" valign="middle">
            <a href="${ctx.baseUrl}" style="display:block; margin-top:10px;margin-bottom:10px;">${ctx.cmsSlotContents.BottomContent}</a>
        </td>
    </tr>
    
     <tr>
        <td colspan="2"  align="left" valign="middle" style="weight:30%;">
           <p style="float: left; width: 28%; line-height: 24px; font-size: 10px;">${ctx.messages.thankyouMsg}</p>
        </td>
        
    
        <td style="weight:30%;text-align:right;font-size: 10px;margin-bottom: 0px;">
          <img src="${ctx.mediaBaseUrl}${ctx.barcode.url}" alt="" style="max-width: 100px;" />
        </td>
    </tr>
    <tr>     <td>
             <p> ${ctx.messages.exchangeMsg} </p>
        </td></tr>
    </table>

 
</table>
#end
</div>
</body>
</html>
<!--
                    <td>
                    
                        $!{ctx.messages.billingAddressLine1} <br/>
                        $!{ctx.messages.billingAddressLine2} <br/>
                        $!{ctx.messages.billingAddressCity} <br/>
                        $!{ctx.messages.billingAddressPostalCode} <br/>
                        $!{ctx.messages.billingAddressPhone} <br/>
                    </td>
                    <td>
                        $!{ctx.escapeHtml($ctx.order.paymentAddress.line1)} <br/>
                        $!{ctx.escapeHtml($ctx.order.paymentAddress.line2)} <br/>
                        $!{ctx.escapeHtml($ctx.order.paymentAddress.town)} <br/>
                        $!{ctx.escapeHtml($ctx.order.paymentAddress.postalcode)} <br/>
                        $!{ctx.escapeHtml($ctx.order.paymentAddress.phone1)} <br/>
                    </td>
                    -->
                     <!--
                    <td colspan="2">
                        <strong>$!{ctx.messages.billTo} </strong><br/>
                        $!{ctx.escapeHtml($ctx.order.paymentAddress.firstname)} $!{ctx.escapeHtml($ctx.order.paymentAddress.lastname)}
                    </td> 
                    -->