//////////////////////////////////
//          general             //
//////////////////////////////////
@max-item-image-width: 96px;
.item__list {
  margin-top: 30px;
  margin-bottom: @grid-gutter-width;

  .list-unstyled;

  .item__list--item {
    border-bottom: 1px solid @border-color-2;
    padding: 15px 0;

    &:nth-child(4n+4){


      + li .add-to-cart-order-form-wrap {
        &,
        &:after {
          background-color: @table-2n-line-bg;
        }
        .order-form-scroll.down{
          bottom: 0;
          z-index: 9999;
        }
      }
    }

    &:last-child {

    }

    .btn-group.open {

      .dropdown-menu {
        padding: 0;

        li {
          margin: 0;
          &:first-child {
            border-bottom: 1px solid @border-color-2;
          }
        }
      }

      a {
        padding: 18px 35px 18px 25px;
      }
    }

    .item__configurations--display {
      .btn {
        padding-left: 0;

        &:hover {
          color: @link-hover-color;
        }
      }
    }
  }

  .item__list--header {
    .list-unstyled;
    display: table;
    table-layout: fixed;
    width: 100%;
    padding-left: 0;
    padding-right: 5px;
    background: #e6e6e6;
    border: 2px solid #e6e6e6;
    border-radius: 5px;
    height:33px;
    li {
      display: table-cell;
      color: #414C50;
      font-size: 13px;
      text-transform: uppercase;
      padding: 4px 0;
      &:last-child {
        padding-right: 30px
      }
    }
  }

  .item__toggle {
    font-size: @font-size-base + 1;
    width: (@font-size-base + 1 + @grid-gutter-width/2);

    > * {
      cursor: pointer;
    }

    .open {
      .glyphicon {
        .glyphicon-chevron-up();
      }
    }
  }

  .item__image {
    width: 200px;
    padding: 4px 0;
    text-align:left;

    img {
      max-width: 96px !important;
    }
  }

  .item__name {
    font-size: 14;
    font-weight: 500;
    color: #000
  }

  .item__quantity {
    text-align: center;

    .form-control {
      display: inline-block;
      width: @grid-gutter-width*3;
      height: @grid-gutter-width*2;
      text-align: center;
    }
  }

  .item__delivery {
    .item__delivery--label {
      text-transform: uppercase;
      color: #000;
      font-weight: 500;
      @media(min-width:1250px){
        padding-left:20px
      }
    }
  }

  .item__total--column {
    text-align: right;
  }

  .item__total {
    font-size: 16px;
    font-weight: 500;
    text-align: right;
    padding-left: 0;
  }

  .item__remove, .item__menu {
    width: (@btn-icon-font-size + @grid-gutter-width);
    text-align: right;

    .btn {
      font-size: @btn-icon-font-size;
      background-color: transparent;
      padding: 0;
      border: 0;
      color: @btn-primary-bg;

      .glyphicon {
        top: 4px;
      }
    }
  }

  #cartOrderGridForm {
    .product-grid-container {
      table {
        background-color: @table-2n-line-bg;
        th {
          background-color: @cart-product-table-head-color;
          color: @text-color;
        }
      }
    }
  }

  .promo {
    font-size: 14px;
    font-weight: 600;
    color: @item-promo-color;
    display: inline-block;
    margin: 5px 0;
    @media(min-width:@screen-md-min){
      width:90%;
    }

    ul {
      .list-unstyled();
    }
  }

  .out-of-stock {
    color: @item-sale-color;
  }


  .read-only-grid {
    .grid-row {
      > td {
        border-bottom: 1px solid @border-color;
      }
    }
    .grid-prod-img {
      width: 100px;
      padding: 25px 40px 20px 45px;
      vertical-align: top;

      + td {
        padding-bottom: 5px;
      }
    }
    .grid-variant,
    .grid-size {
      font-weight: 700;

      + .grid-variant:before {
        content: "|";
        font-size: 15px;
        margin: 0 10px;
        width: 1px;
        color: @border-color-3;
      }
    }
    .grid-prod-info {
      display: inline-block;
      padding-top: 0;
      padding-right: @grid-gutter-width*2;
    }
    .grid-qty .grid-qty-label {
      font-size: 12px;
      text-transform: uppercase;
    }
    .grid-price {
      &:before {
        content: "|";
        font-size: 15px;
        margin: 0 10px;
        width: 1px;
        color: @border-color-3;
      }
    }
  }
}


//////////////////////////////////
//       > mobile / tablet      //
//////////////////////////////////
@media (min-width: @screen-md-min) {
  .item__list {
    > li {
      .add-to-cart-order-form-wrap {

      }
    }

    .item__list--item {
      display: table;
      table-layout: fixed;
      width: 100%;

      .item__sku__input,
      .item__toggle,
      .item__image,
      .item__info,
      .item__price,
      .item__quantity,
      .item__delivery,
      .item__total,
      .item__remove,
      .item__menu,
      .item__quantity__total {
        display: table-cell;

        vertical-align: middle;
      }

      .item__image{
        width: 175px;
        img{  max-width: 175px;}

      } .item__quantity{

          padding-left: 7px;
        }
      .item__cart{    padding-left: 17px;
        font-size:15px;font-weight:700;
        color: #424d51;width:50px;}
      .item__price{





        @media(max-width:@screen-md-max){
          padding-left: 17px;

        }

        font-size:14px;font-weight:500;
        color: #000;}
      .item__delivery{
        text-align: center;
        padding-left: 0;
        color: #000;
        font-weight:500
      }
      .item__quantity__total{
        text-align: center;
        text-align: center;
        color: #424d51;
      }

    }

    .item__info {
      width: 30%;
      padding: 0 10px;
      padding-left: 19px;
    }


  }
}
.item__delivery {
  text-align: center;

}
.item__total--column,.js-item-total{
  text-align: center !important;
}
.item__quantity{
  text-align: center !important;
  width:120px;
}
//////////////////////////////////
//           > mobile           //
//////////////////////////////////
@media (min-width: @screen-sm-min) {
  .item__list {
    #cartOrderGridForm {
      max-height: 460px;
      overflow: scroll;

      table {
        tr:first-child > th:first-child,
        tr > td:first-child {
          border-right: 0;
          padding-left: @grid-gutter-width * 2;
        }
      }
    }
  }
}


//////////////////////////////////
//      tablet  and mobile      //
//////////////////////////////////
@media (max-width: @screen-sm-max) {

  .item__list {

    margin-top: 0;
    clear: both;

    .item__toggle {
      .glyphicon {
        width: @base-icon-touch-area;
        height: @base-icon-touch-area;
      }
    }

    .item__image {
      float: left;
      margin: 0;
    }

    .item__price {
      .visible-xs {
        display: inline!important;
      }
    }

    .item__remove, .item__menu {
      position: absolute;
      right: @grid-gutter-width/2;
      top: 8px;
      padding: 0;
      margin: 0;

      .btn {
        text-align: center;
        width: @base-icon-touch-area;
        height: @base-icon-touch-area;
      }
    }

    .item__total {
      float: right;
    }



    #cartOrderGridForm {
      .product-grid-container {
        font-size: 14px;
        margin: 0;

        .variant-detail {
          padding-left: @grid-gutter-width;
          padding-top: @grid-gutter-width/2;

          img {
            padding-right: @grid-gutter-width/2;
          }
        }

        .variant-select {
          padding-top: 22px;
          padding-right: @grid-gutter-width;
          vertical-align: top;
        }

        > table {
          border-bottom: 1px solid @border-color;

          tr td {
            border-bottom: none;
          }
        }

        .variant-summary {
          background-color: transparent;

          > td {
            padding: 0 @grid-gutter-width @grid-gutter-width;
          }

          .variant-summary-items {
            border: none;
            margin-top: 0;
            margin-bottom: 5px;
          }

          table tr {
            td {
              padding: 0 10px 0 0;

              &:last-child {
                padding: 0;
              }
            }
          }
        }
      }
    }

    .read-only-grid {
      .grid-prod-img {
        padding-left: @grid-gutter-width;
        padding-right: 30px;
      }

      .grid-variant {
        display: block;

        + .grid-variant:before {
          content: none;
        }
      }
    }
  }

  .item__list--item {
    position: relative;

  }
}



//////////////////////////////////
//     item-list in context     //
//////////////////////////////////
.item__list {
  .account-orderdetail & { // myAccount
    clear: both;
    margin-top: 0;
  }
}

.fa-ellipsis-v{
  color:#2496D2;
  font-size:22px !important;}



.item__code{
  color: #000;
  font-size: 14px;
}
.item__stock{
  color: #000;
  font-size: 13px;
  strong{
    color:#000;
  }
  .stock{
    .fa-check-circle {  margin-right: 7px;
      font-size: 16px;
      font-weight: 500;
      color: #0F9900;
      padding-bottom: 7px;
      margin-top: 5px;}
    .fa-check-times {  margin-right: 7px;
      font-size: 16px;
      font-weight: 500;
      color: #ff2626;
      padding-bottom: 7px;
      margin-top: 5px;}

  }

}


@media(max-width: @screen-sm-max){
  .main__inner-wrapper{padding: 0px;}
  .Pad_cart_de{
    padding:0 15px !important;
    .cart-header{


      border-bottom:none !important;
      padding:0;

      .cart-headline{
        padding-top:20px;
      }
    }
  }
  .Pad_cart_de{
    .item__list__cart{
      border-bottom:none !important;
      border-top:none !important;
      .item__list--item{
        border-top:none !important;
      }
    }
    .item__list{
      border-bottom:none !important;

    }



    .item__delivery{

      text-align:left;
    }


    .img_float{
      display: block;
      float: left;
      margin-right: 10px;

      .item__image{

        padding:0 !important;
        width:100%;
        img{
          max-width: 181px;

        }
        .smile {
          width: 66px;
          height: 50px;
          position: absolute;
          right: 17px !important;
          bottom: 4px;
        }
      }

      @media(max-width:450px){
        .item__image{
          img{
            max-width: 135px;
          }
          .smile{
            width: 66px;
            height: 50px;
            position: absolute;
            right: 10px !important;
            bottom: -12px !important;
          }
        }

      }

    }

    .info_float{
      display: inline-block;
      width: 52%;
      @media(max-width:350px){

        width: 50%;
      }


      .item__menu{
        button{
          position: relative;
          .fas {
            color: #76b445;
            font-weight: 500;
            position: absolute;
            top: 5px;
            right: 0;
            font-size:20px;
            @media(min-width:450px){
              right: 20px;
            }
          }}}

    }

  }
}

.account-orderdetail {
  @media(min-width:@screen-md-min){
    .item__list .item__total{
      text-align:center;
    }

  }
}



