.login-page__headline,
.user-register__headline{
	color: #595A58;
    font-size: 20px;
    line-height: 35px;
    font-weight: 500;
    padding: 20px 0;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}
.register__section .register_description {    font-size: 16px;
    color: #000;
    text-align: center;
    line-height: 32px;}



#registerForm{
    padding: 35px 50px;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    
    
    @media(max-width:@screen-sm-max){
     padding: 35px 25px;
    }

}



.login-left-content-slot{
    margin-right: 10px;
  	margin-left: 30px;

  	@media (max-width: @screen-sm-max) {
      margin-left: 20px;
      margin-right: 20px;
  	}
}

.login-right-content-slot{
    margin-right: 30px;
  	margin-left: 10px;

  	@media (max-width: @screen-sm-max) {
      margin-left: 20px;
      margin-right: 20px;
  	}
}

.forgotten-password{
	form & {
    margin-bottom: 25px;
  }

  &.alert {
    padding-left: 0;
    padding-right: 0;
  }

	.description{
      margin-bottom: (@grid-gutter-width/2);
	}

  #colorbox & .btn-primary {
    margin-top: 35px;
  }
}

.register-form-action, .login-form-action {
  margin-top: 35px;
}

.forgotten-password + .login-form-action {
  margin-top: 0;
}

.alert-dismissable,
.alert-dismissible  {
  .close {
	right: 0;
  }
}

.register__container {
  .full-width-padding();
}

@media (max-width: @screen-xs-max) {
	.login-form-action {
		.btn-default {
          margin-top: @grid-gutter-width * 1.5;
		}
	}
}

@media (max-width: @screen-xs-max) {
	.login-section,
  	.register-section {

		.forgotten-password {
          margin-bottom: 45px;
		}
	}
}