

.boxotp {
margin-top:45px;
   
    padding: 0px;
    @media(max-width:@screen-sm-max){
    margin: 30px 0;
    }
    
    .otp_headline {
    color: #595A58;
    font-size: 20px;
    line-height: 35px;
    padding: 20px 0;
    margin: 0;
    text-transform: uppercase;
    font-weight: 300;
}
.btnotpchange {
    background: none;
    padding: 3px ;
    color: #2496D2;
    outline: none;
   text-transform: capitalize;
   
}
}
img.otpimg{    max-width: 100%;
width:330px;

    margin: 30px 70px;
    @media(max-width:1200px){
     width:290px;
    }
       @media(max-width:@screen-sm-max){
    margin: 30px auto; width:290px;
    }
    
         @media(max-width:@screen-xs-max){
     width: 250px;
    }
    }
.checkv {
margin:0 25% 3% ;
@media (max-width: @screen-sm-max){
margin:0 0 3% 0;
}
} 

#otpForm{
label{
margin-left:7px

}
input{
height:36px;
line-height: 15px;
border-radius: 3px;
    width: 100% !important;
    @media(max-width:@screen-sm-max){
     width: 100% !important;
    }
}


}


.containerOTP{
	
    margin: 50px 0 35px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    .otpInput{
    height:36px !important;
    }
    .otpBtn{
    max-width:160px;
    font-weight:400;
    width:100% !important;
    }
#changeNumber{
padding:0px 75px;
    line-height: 27px;
    @media(max-width:@screen-sm-max){padding:0px 15px;}
.btnotpchange{
    margin-left: 5px;
    text-transform: capitalize;
    margin-top: -7px;
}
}
}
.otpFromInput{
	    display: flex;
    align-items: center;
    justify-content: center;
    @media(max-width:@screen-sm-max){
        padding: 0 15px;
    display: block;
    }
    .row{
        max-width: 741px;
    width: auto;
    @media(min-width:@screen-md-min){
    width: 100%;
        display: flex;
    align-items: center;
    justify-content: center;
    }
    
    
    }
	
	
	}
	
	
	#resend {
	.btnotpchange{
	color:#2496D2;
	    font-weight: 300;
    font-size: 14px;
    padding: 0;
    margin-left: 8px;
    margin-top: -4px;
}
	}
	
	
	
	.otpimgThank{
	max-width:100%;
	width:288px;
	margin: 30px auto;	
	}
	.otpForm{  @media(max-width:@screen-sm-max){padding:0px 15px;}
	}
	
	
	.Description_otp{margin:15px 0 25px;
	font-size:15px;color:#000000;    line-height: 29px;
	}
	
	
	.thankPage{
	.containerOTP{
	padding-bottom:40px;
	.otp_headline{    font-weight: 400;
    font-size: 20px;
    color: #595A58;
    text-transform: uppercase;}
	
	}
	
	}
