.image-gallery__image{
	cursor: pointer;
}

.image-gallery__zoom-icon{
	font-size: 20px;
	opacity: 0.5;
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 10;
}

.page-productDetails {
	.carousel {
		@media (min-width: @screen-sm){
			padding-left: 30px;
			padding-right: 30px;
		}
	}
}

.product-details,
.product-details-price{
	margin-bottom: 10px;

	@media (max-width: @screen-xs-max){
		padding: 0;
	}




	.name {
		color: #000;
		font-size: 20px;
		line-height: 35px;
		font-weight: 700;
		margin: 0;
		padding: 0;
		margin: 12px 0;
		margin-top: 0;
		@media(max-width:@screen-xs-max){
			font-size: 19px;
		}

	}




	.sku{

		color: #ACACAC;
		font-size: 14px;

	}


	.code {
		color: #ACACAC;
		font-size: 14px;
	}

	.promotion {
		color: @item-promo-color;
	}

	.description{
		padding: (@grid-gutter-width/2) 0 25px;
	}

	.price{
		font-size: 22px;
		font-weight: bold;
		color: #1a6c39;
	}

	.stock-status{
		font-weight: 300;
	}
}

@media (max-width: @screen-md-max) {
	.product-details,
	.product-details-price {
		.description{
			border-bottom: 1px solid @border-color-3;
		}
	}
}

.product-details.page-title {
	.full-width-padding();
}

.product-main-info {
	#addToCartButton{height: 36px !important;}
	margin-left: 30px;
	margin-right: 30px;
	border: 1px solid #D9D9D9;
	padding: 43px;
	border-radius: 10px;

	@media(max-width:@screen-sm-max){

		margin:25px 10px}

	@media(max-width:@screen-xs-max){
		padding: 15px 10px;
		margin:25px 0px}

	.product-details {
		padding: 0;
	}
}

.variant-section{
	margin-bottom: @grid-gutter-width + @grid-gutter-width/2;

	.variant-selector{
		.variant-name{
			font-size: 13px;
			font-weight: 600;
			color: @label-color;
			text-transform: uppercase;
			margin-top: 15px;
			margin-bottom: 5px;

			.variant-selected{
				font-weight: normal;
				text-transform: none;
			}
		}

		.variant-list{
			.list-unstyled;
			.clearfix;
			margin-left: -(@grid-gutter-width);

			li{
				float: left;
				margin: 0 0 0 (@grid-gutter-width);
				a,span{
					display: block;
					height: @input-height-base;
					width: @input-height-base;
					line-height: @input-height-base;
					text-align: center;
					text-transform: uppercase;
					border:1px solid @input-border-color;
					background: #fff;
					color: @text-color;
					text-decoration: none;

					@media (max-width: @screen-sm-max) {
						height: @input-height-large;
						width: @input-height-large;
						line-height: @input-height-large;
					}


					img{
						width: 100%;
						height: auto;
						vertical-align: top;
						border:1px solid transparent;
					}
				}



				&:hover a,
				&.active a{
					background: @brand-primary;
					.box-shadow(~"inset 0 0  0 1px #fff");
					border:1px solid @brand-primary;
					color: #fff;


					img{
						border:1px solid #fff;
					}
				}


				&.disabled{
					span{
						color:#999;
						cursor: not-allowed;
					}
				}
			}
		}
		.variant-select{
			margin: (@grid-gutter-width/2) 0 0;
		}
	}
}


.rating{
	.clearfix;
	margin:10px 0;
	.rating-stars{
		margin: 0 5px 0 0;
		padding: 3px 0 1px;
		position: relative;

		@media (max-width: @screen-sm-max) {
			font-size: 15px;
			float: none;
			.clearfix;
		}

		.greenStars{
			position: absolute;
			overflow: hidden;
			top: 3px;
			left: 0;
			white-space: nowrap;
			width: 0;
		}

		span{
			color: #dee3e8;
			margin: 0 0.1em;

			overflow: hidden;


			&.fh{
				width: 0.47em;
				margin-right: 0;
				.pull-left();
			}

			&.lh{
				width: 0.5em;
				text-indent: -0.44em;
				margin-left: 0;
				.pull-left();
			}

			&.active{
				color: #efd800;
			}
		}
	}

	&.rating-set{
		.rating-stars{
			cursor: pointer;
			display: inline-block;
		}
	}


	a{
		font-size: 13px;
		position: relative;
		margin-left: 10px;
		padding-left: 10px;
		color: #2496D2;

		&:before {
			border-left: 1px solid @border-color-3;
			content: "";
			height: 19px;
			position: absolute;
			top: 0;
			left: 0;
		}
	}

}


.tabs-responsive{

	.tab-container {
		float: none;
		padding: 0;
	}

	@media (max-width: @screen-sm-max) {
		.tabhead{
			border-bottom: 1px solid @grayblue;


		}

	}
}

.tab-review{
	.review-pagination-bar{
		margin: 20px 0;
		text-align: center;
		.clearfix;
		.right{
			float: right;
			.pager{
				float: left;
				margin: 0 (@grid-gutter-width/2);
			}

		}
	}


	.review-list{
		.list-unstyled;
		.review-entry{
			margin: (@grid-gutter-width/2) 0;

			.title{
				font-weight:bold;
			}

			.content{

			}

			.autor{

				color:@gray-light;

			}

			.date{

			}

		}
	}


	.write-review{
		display: none;
	}
}






.js-openTab{
	display:none;
}
.countryoforigin{

	font-size: 16px;
	color: #E32220;
	text-transform: capitalize;
}




#AddToCart-PickUpInStoreAction{


}

#AddToCart-AddToCartAction{

}









.tabhead{
	outline:none !important;
	a {

		outline:none !important
	}


}






.js-owl-pdp-img-mobile{
	button.owl-dot{
		outline: none !important;
		span{

			width: 6px !important;
			height: 6px! important;


			background:#868686 !important;
		}


	}

	.owl-dot.active span{
		background:#F2A900 !important;

	}
	margin:0px !imporant;

	.owl-item{
		border:none !important;

	}


}



.product-details{
	.scratched{
		margin-left: 00px;
		font-size: 14px;
		font-weight:500 !important;
	}

}










