.pageType-CategoryPage .map {
	img {
	  min-width: 100%;
	}
}

.searchEmptyPageMiddle-component {
  .full-width-padding();
}

.product__list--wrapper {
  @media (min-width: @screen-md-min) {
	padding: 0;
	margin: 0 0 0 -20px;
  }

  .pagination-wrap {
	@media (min-width: @screen-sm) {
	  padding-right: 0;
	}
  }
}

.searchSpellingSuggestionPrompt {
  padding-left: 20px;
  padding-right: 20px;
}

.pagination-bar {
  @media (max-width: @screen-sm-max) {
	.sort-refine-bar {
	  button {
		padding-left: 0px;
		padding-right: 0px;
		    width: auto;
    color: #000;
    font-weight: 400;
    i{
    
    color: #7E99AA;}
	  }
	}
  }
}

.results {
  h1 {
    .page-headline();
    margin-top: @grid-gutter-width;
    padding-left: @grid-gutter-width;
    padding-bottom: 0;
  }
}

.product__listing {
  .list-unstyled;

	.product__listing--promo {

	  .text-success;
	  margin-bottom: (@grid-gutter-width/2);

	  @media (min-width: @screen-md) {
		padding-right: 20px;
		margin: 0 -10px;
	  }
	}

	.product__list--price-panel {
	  text-align: right;
	}

	.product__list--name {
	  display: block;
	  text-transform: uppercase;
	  font-weight: bold;
	  margin: 0 0 (@grid-gutter-width/2) 106px;
	  color: inherit;
	}

	.product__listing--description {
	  .hidden-xs;
	  margin: 0 210px 0 106px;
	}

	.addtocart {
	  clear: both;
	  text-align: left;
	  padding: (@grid-gutter-width/2) 4px 0 ;

	  button {
		margin-bottom: (@grid-gutter-width/4);
	  }

	  @media (min-width: @screen-md-min) {


		.pickup-in-store-available {
		  .ProductGridComponent-ListPickUpInStoreAction,
		  .ProductGridComponent-ListAddToCartAction,
		  .SearchResultsList-ListPickUpInStoreAction,
		  .SearchResultsList-ListAddToCartAction,
		  .SearchResultsGrid-ListPickUpInStoreAction,
		  .SearchResultsGrid-ListAddToCartAction {
			width: 49%;
			display: inline-block;
			float: left;
		  }
		  .ProductGridComponent-ListAddToCartAction {
		  	position: relative;
		  	right: 1%;
		  	float: right;
		  }
		  .ProductGridComponent-ListPickUpInStoreAction {
		  	position: relative;
		  	left: 1%;
		  }
		  @media (min-width: @screen-lg-min) {
		  	.ProductGridComponent-ListAddToCartAction,
		  	.ProductGridComponent-ListPickUpInStoreAction {
		  		width: calc(~'49% - 4px');
		  	}
		  }
		}
	  }

	  @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {

		.pickup-in-store-available {
		  margin: 0 -(@grid-gutter-width/5);

		  .ProductGridComponent-ListPickUpInStoreAction,
		  .ProductGridComponent-ListAddToCartAction,
		  .SearchResultsList-ListPickUpInStoreAction,
		  .SearchResultsList-ListAddToCartAction,
		  .SearchResultsGrid-ListPickUpInStoreAction,
		  .SearchResultsGrid-ListAddToCartAction {
			padding: 0 (@grid-gutter-width/6);
		  }

		}
	  }
	}

	&.product__list .product__list--item,
	&.product__grid .product-item {
		&.tag-highlighted {
			position: relative;

			&:before {
				content: "";
				z-index: -1;
				position: absolute;
				border: 2px solid @brand-primary;
				top: 14px;
				left: 12px;
				right: 12px;
				bottom: 14px;
			}
			&:after {
				&:extend(.glyphicon);
				content: "\e006";
				top: 18px;
				left: 16px;
				color: @brand-primary;
				width: 24px;
				line-height: 22px;
				height: 24px;
				font-size: 18px;
				padding: 0;
				text-align: center;
				position: absolute;
			}
		}
	}


	&.product__list {
	  .product__list--item {
		padding: @grid-gutter-width 30px;
		border-top: 1px solid @border-color;

		&:nth-of-type(2n) {
		  background-color: @table-2n-line-bg;
		}

			@media (max-width: @screen-md) {
			  padding-left: 20px;
			  padding-right: 20px;
			}
			&.tag-highlighted {
				&:before {
					left: 0;
					right: 0;
					top: 1px;
					bottom: 0;
				}
				&:after {
					font-size: 16px;
					top: 8px;
					left: 7px;
				}
				&:first-child {
					&:before {
						top: 0;
					}
				}
				&:nth-of-type(2n) {
					background: transparent;

					&:before {
						top: 1px;
						background-color: @table-2n-line-bg;
					}
				}
			}
	  }

	  .product__list--thumb {
		float: left;
		margin-right: (@grid-gutter-width/2);
		display: block;
		  &> img {
			  width: 96px;
		  }
	  }

	  .product__list--price-panel {
		float: right;
		width: 200px;
	  }

	  .ProductListComponent-ListPickUpInStoreAction,
	  .ProductListComponent-ListAddToCartAction,
	  .SearchResultsList-ListPickUpInStoreAction,
	  .SearchResultsList-ListAddToCartAction {
		.make-xs-column(6);
		.make-sm-column(4);
		.make-sm-column-push(4);
	  }

	  .ProductListComponent-ListOrderFormAction,
	  .SearchResultsList-ListOrderFormAction {
		.make-xs-column(6);
		.make-xs-column-push(6);
		.make-sm-column(4);
		.make-sm-column-push(0);
	  }

	  @media (max-width: @screen-xs-max) {
		.product__list--price-panel {
		  text-align: left;
		  float: none;
		  margin-left: 106px;
		  width: auto;
		}
	  }
	}

	&.product__grid {
	  .flex-display(flex);
	  .flex-wrap(wrap);

	  .product-item {
		.product-item-content{transition: box-shadow .3s;
		&:hover{
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
  border:none 1px solid #fff !important;
  
}}
		.make-md-column(3);
		.make-lg-column(3);
		
/*		@media(max-width:1100px){
		width:33% !important ;
		}
		
		@media(max-width:1023px){
		width:25% !important ;
		}
		
		@media(max-width:770px){
		width:33% !important ;
		}
		@media(max-width:640px){
		width:50% !important ;
		}*/
		   .make-xs-column(6);
		.make-sm-column(3);
/*		@media(min-width:1400px){
		width:20% !important;
		}*/
@media(max-width:@screen-sm-max){
    .scratched{
    margin-bottom:0px !important;
    }
    }
		padding:3px !important;
		@media(max-width:@screen-xs-max){padding:0px !important;
		}
		.flex-display(flex);
		.flex-direction(column);

		// fix for Safari
		&:first-child {
		  margin-left: -1px;
		}
			&.tag-highlighted {
				position: relative;
			}
	  }

	  .thumb {
		display: block;
		margin-bottom: 20px;
		text-align: center;
		height: auto;
		overflow: hidden;
@media(max-width:@screen-xs-max){height: auto;
		}
		img {
		     width: 100%;
    		max-width: 100%;
		}

	  }

	  .details {
		text-align: center;
		margin: 0 auto;
		width : 100%;
  		
  		display:inline-block;
  		text-overflow: ellipsis;
  		white-space: nowrap;
		.flex(1 0 auto);

		.name {
		    margin: 0;
    font-weight: 500;
    font-size: 15px;
    padding-bottom: 10px;
    height: 47px;
			overflow: hidden;
    color: #000000;
    display: inline-block;
    width: 100%;
    text-align: left;
    padding-left: 5px;
    white-space: pre-line;
			&:hover{
				color: #1a6c39;
			}
    @media(max-width:@screen-xs-max){
    
        font-weight: 400;
    font-size: 13px;
    height: 39px;
    padding:0px;
    }
    
		}

		.price {
		     color: #1a6c39;
    text-align: left;
    font-size: 15px;
    font-weight: 600;
    margin: 0;
    
    @media(max-width:@screen-xs-max){
    .scratched{
        font-size: 13px !important;
        margin: 0;
        .line_dis{
        top: 8px !important;
        }
    }
    font-size: 13px;
    font-weight: 700;
    
    }
		}

		.promo {
		  color: @item-promo-color;
		  font-size: 14px;
		  font-weight: bold;
		}
	  }

	  // Clearfixes
	  @media (min-width: @screen-sm-min) {
		.product-item:nth-child(4n+1) {
		  clear: both;
		}
	  }

	  @media (max-width: @screen-xs-max) {
		.product-item:nth-child(2n+1) {
		clear: both;
		  padding-right:5px !important;
		}
		.product-item:nth-child(2n) {
		  
		   padding-left:5px !important;
		}
		
	  }
	}
  }



.search-empty {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;

  .headline {
	margin-bottom: 20px;
  }


  .search-suggestions {
	margin-bottom: 20px;
  }
}





//Product Category Page styling

.product-category-page{
    .product-categories{
        .refine-bar{
            padding-bottom:(@grid-gutter-width/2);
            padding-top:(@grid-gutter-width/2);
        }
      	.pcp-prod,
      	.pcp-banner{
          	padding-left: 0;
          	padding-right: 0;
      	}

        .pcp-banner .simple-responsive-banner-component,
		.pcp-banner .banner__component--responsive {
            margin-right: -20px;
        }

      	.pcp-banner{
          	padding-top:(@grid-gutter-width/2);
      	}
    }
}

@media (min-width: @screen-md) {
		.search-list-page-right-result-list-slot{
				margin-left: -20px;
				margin-top: -20px;
		}

		.search-list-page-right-result-list-component{
				padding-left: 20px;
		}

		.product-list-right-slot{
				margin-left: -20px;
		}

		.product-list-right-component{
				margin-left: 0;
				padding-top: 20px;
		}

		.product-list-right-component .pagination-bar{
				margin-top: 0;
		}
}

.search-results-highlight {
	font-weight: bold;
}


.product-item-content{
@media(max-width:@screen-xs-max){
margin-bottom:10px;}
.btnpdpAddtocart{
    align-items: center;
    
    @media(max-width:@screen-xs-max){
    .btnCartText{
    display:none !important;}}
}

.countryCode{
    text-align: left;
    font-size: 12px;
    color: #E32220;
    min-height: 21px;
	display: flex;
	align-items: center;
}
	.labelText{
	
	    position: absolute;
    top: 0;
    left: 0;
    height: 23px;
    width: 55px;
    margin-top: 14px;
    margin-left: 10px;
    font-size: 12px;
    color: #fff;
    background-color: #E18F00;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media(max-width:@screen-xs-max){
    
    height: 21px;
    width: 46px;
    margin-top: 14px;
    margin-left: 4px;
    font-size: 10px;
        justify-content: center;
    
    }
    
    }
	padding: 7px;
	border: 1px solid #d9d9d9;
	position: relative;
	margin:  3px;
     .wishlist_icon{
         position: absolute;
    right: 0;
    margin-top: 11px;
    top: 0;
    margin-right: 10px;
    font-size: 20px;
    @media(max-width:@screen-xs-max){
        margin-top: 8px;
    margin-right: 6px;
    
    
    }
    .addWishlistEntry{
    color:#dbdbdb;
     i{
    font-weight:600}
    
    }
    
    
     .removeWishlistEntry{
    color:#E32220;
    i{
    font-weight:600}
    }
     } 




}





.product-item-content{

.addtocart-component .qty-selector{
@media(max-width:@screen-xs-max){
    margin-left: 0;margin-right: 19px !important;
}

}
.qty-selector{
    height: 30px !important;
    display: flex;
    align-items: center;
    
    button{
    margin-bottom:0px !important;
    }

}
.btnpdpAddtocart{
    height: 30px !important;
    
    
    .iconBtnCart{
        padding-top: 1px !important;
    margin-top: -3px !important;
    i{
        left: 5px !important;
        top:1px !important;
    }
    }
}


}



.filterSectionContent{
@media(max-width:@screen-sm-max){
    height: 50px;
    display: flex;
    align-items: center;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    padding: 10px;
    margin: 0 0px 0;
    margin-top: 20px;

}
}

.filterMobile{
@media(max-width:@screen-sm-max){

#cboxClose{
i{
color:#44A50B}

}
#cboxTitle{
    padding-top: 16px !important;
    background: #F5F5F5 !important;
    height: auto !important;
        box-shadow: 0px 0.5px 0px #0000004D !important;
}

#cboxLoadedContent{width: 100% !important;padding: 0 !important;
}
#cboxContent{
    width: 100% !important;
    height: 100vh !important;
}
#cboxTopLeft,#cboxTopCenter,#cboxTopRight,#cboxMiddleLeft{
    height: 0 !important;
}

}


}

.js-shop-stores-facet{
.line-text {
    margin: 10px 0 !important;
    text-align: center;
    font-size: 16px;
}
.js-facet-change-link{
    text-align: center;
    display: block;
    margin-top: 9px;
}
.storesFacetSearchForm{
#user_location_query_button{
    margin-top: -2px;
}

}
}

.product__listing.product__grid{
@media(max-width:@screen-xs-max){
.add_to_cart_form .btn.btn-primary{
    display: flex;
    justify-content: center;
    align-items: center;
    border:0;
.iconBtnCart{
margin-left:0px !important;
}


}

}

}
.price.price-cont{
	position: relative;
min-height:21px;


	.price{
		position: absolute;
		bottom: 0;
	}
}

.product-item-content{

	.thumb img{    -webkit-transition: all 2s ease;
		transition: all 2s ease;
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);}
	&:hover{

		border-color: #1a6c39;
		.thumb img{

			transform: scale(1.05);
		}

	}
.name{
	&:hover{

		color: #1a6c39;}

}
}

.orange {
  width: 100px;
  height: 100px;
  background: url('../images/loader-circle.png');
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) scale(0.8);
  position: absolute;
}
.orange .slice {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 50% 50%;
  opacity: 0;
  background: url('../images/empty-slice.png');
}
.orange .slice:nth-child(1) {
  transform: rotate(36deg);
}
.orange .slice:nth-child(2) {
  transform: rotate(72deg);
}
.orange .slice:nth-child(3) {
  transform: rotate(108deg);
}
.orange .slice:nth-child(4) {
  transform: rotate(144deg);
}
.orange .slice:nth-child(5) {
  transform: rotate(180deg);
}
.orange .slice:nth-child(6) {
  transform: rotate(216deg);
}
.orange .slice:nth-child(7) {
  transform: rotate(252deg);
}
.orange .slice:nth-child(8) {
  transform: rotate(288deg);
}
.orange .slice:nth-child(9) {
  transform: rotate(324deg);
}

.ias-spinner {
  position: relative;
  margin-top: 20px;
  height: 100px;
}
.ias-noneleft,
.ias-spinner,
.ias-trigger {
  width: 100%;
  margin: 10px 0;
  text-align: center;
}