.language-en {
.link_ar{display:block !important;color:#6fbb34;    font-size: 17px !important; font-family: 'Cairo', sans-serif;}
.link_en{display:none !important;    font-size: 17px !important; font-family: "Lato", Helvetica, Arial, sans-serif;}
}
.language-ar {
.link_en{display:block  !important;;color:#6fbb34;  font-size: 17px !important;font-family: "Lato", Helvetica, Arial, sans-serif;}
.link_ar{display:none  !important;  font-size: 17px !important;font-family: 'Cairo', sans-serif;}
}

body.language-ar {    text-align: left;
    direction: ltr;
    font-family: 'Cairo', sans-serif;
    .pos_label_filter.glutenFree{padding:6px;line-height: 0px !important; .eco_position {
        margin-top: 0px !important;
    line-height: 11px;font-size:9px;
}}
#st_gdpr_iframe{right:auto !important;     width: 0 !important;
     height: 0 !important;
     position: static !important; }
     .GlutenFree .toggle_product_list {
    min-width: 188px;}
    #colorbox{left: auto;}
    .fa-chevron-right:before{    content: "\f053";}
.fa-chevron-left:before{    content: "\f054";}

    }
    
    
.imgSectionBanner{
@media(max-width:@screen-sm-max){
.banner__component{
margin-bottom:15px;}
}

}
    
    
    
   body.language-ar {
.js-pickup-in-store-button .textStorebtn{
@media(max-width:@screen-xs-max){
font-size:10px !important;
}
}
@media(max-width:@screen-sm-max){




       .tab_profile_header{
   right:21px !important;}
   
   
   }







   @media(max-width:@screen-sm-max){

.myAccountList {
    margin-right: 5px;
}}
   
    .categories .box img{
    
        transform: rotateY(180deg) !important;
    
    }
    .FormSubscribe{
        flex-direction: row-reverse;
        
    }
    .add_to_cart_form .btn.btn-primary .iconBtnCart i{
    left:3.5px !important;
    }
     .nav-cart .mini-cart-link .js-mini-cart-count{
    
        transform: translateX(-37%) !important;
        .nav-items-total{transform: translate(-51%, -74%) !important;
        }
    
    
    }
    
       .Cartmobile{
    .nav-cart .mini-cart-link .js-mini-cart-count{
    
        transform: translateX(-35%) !important;
        .nav-items-total{transform: translate(-44%, -43%) !important;
        }
    
    
    }
   }
    
    }