<%@ tag body-content="empty" trimDirectiveWhitespaces="true" %>
<%@ attribute name="galleryImages" required="true" type="java.util.List" %>

<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ taglib prefix="fn" uri="http://java.sun.com/jsp/jstl/functions" %>
<%@ taglib prefix="spring" uri="http://www.springframework.org/tags" %>
<%@ taglib prefix="product" tagdir="/WEB-INF/tags/responsive/product" %>
<%@ taglib prefix="sec" uri="http://www.springframework.org/security/tags" %>
<%@ taglib prefix="fmt" uri="http://java.sun.com/jsp/jstl/fmt" %>
<spring:htmlEscape defaultHtmlEscape="true" />

<c:choose>
    <c:when test="${galleryImages == null || galleryImages.size() == 0}">

        <div class="col-md-12 col-sm-12 col-xs-12 active pull-right">
            <spring:theme code="img.missingProductImage.responsive.product" var="imagePath" htmlEscape="false" />
            <c:choose>
                <c:when test="${originalContextPath ne null}">
                    <c:choose>
                        <c:when test='${fn:startsWith(imagePath, originalContextPath)}'>
                            <c:url value="${imagePath}" var="imageUrl" context="/" />
                        </c:when>
                        <c:otherwise>
                            <c:url value="${imagePath}" var="imageUrl" context="${originalContextPath}" />
                        </c:otherwise>
                    </c:choose>
                </c:when>
                <c:otherwise>
                    <c:url value="${imagePath}" var="imageUrl" />
                </c:otherwise>
            </c:choose>
            <img src="${fn:escapeXml(imageUrl)}" />
        </div>

    </c:when>
    <c:otherwise>
        <div class="app-figure" id="zoom-fig">
            <div class="remove-hidden-xs">

                <c:forEach items="${galleryImages}" var="container" varStatus="varStatus" end="0" begin="0" step="1">

                    <a id="Zoom-1" class="MagicZoom col-md-12 col-sm-12 col-xs-12 active  main_zoom"
                       data-options="zoomWidth: 50%; zoomMode: magnifier; zoomDistance: 10;"
                       href="${fn:escapeXml(container.superZoom.url)}"
                       data-zoom-image-2x="${fn:escapeXml(container.superZoom.url)}"
                       data-image-2x="${fn:escapeXml(container.superZoom.url)}">
                        <c:set value="none" var="display" />
                        <c:if test="${not empty product.productLabel}"><c:set value="inline" var="display" /></c:if>
                        <div class="carousel__item--label label_image"
                             style="display:${display}">${product.productLabel} <spring:theme
                                        code='off' /></div>

                        <div class="div-label-cla">
                            <c:if test="${ product.ecoFriendly}">
                                <div class="label-ecoFriendly"></div>
                            </c:if>
                            <c:if test="${ product.glutenFree}">
                                <div class="label-glutenFree"></div>
                            </c:if>
                            <c:if test="${ product.vegan}">
                                <div class="label-vegan"></div>
                            </c:if>
                            <c:if test="${ product.organic}">
                                <div class="label-organic"></div>
                            </c:if>
                            <c:if test="${product.sugarFree}">
                                <div class="label-sugarFree"></div>
                            </c:if>
                        </div>
                        <img src="${fn:escapeXml(container.zoom.url)}" srcset="${fn:escapeXml(container.superZoom.url)}"
                             alt="" style="max-width:600px;" /><c:set value="hidden" var="isin"></c:set>


                    </a>


                </c:forEach>


                    <%--                 <c:if test="${not empty product.youtubeIds}"> --%>
                <!--                   <div data-slide-id="video-1" class="zoom-gallery-slide video-slide"> -->
                    <%--         <iframe width="100%" height="315" src="https://www.youtube.com/embed/${product.youtubeIds}" frameborder="0" allowfullscreen></iframe> --%>
                <!--     </div> -->
                    <%--                 </c:if> --%>

                <c:if test="${ not empty product.discount.percentage}">
                    <div class="promo_label ">
                        <fmt:formatNumber type="NUMBER" value="${product.discount.percentage}" maxFractionDigits="0" />
                        % <spring:theme
                                        code='off' />
                    </div>
                </c:if>


                <product:productGalleryThumbnail galleryImages="${galleryImages}" />


            </div>
            <c:if test="${ not empty product.discount.percentage}">
                <div class="promo_label ">
                    <fmt:formatNumber type="NUMBER" value="${product.discount.percentage}" maxFractionDigits="0" />
                    % <spring:theme
                                        code='off' />
                </div>
            </c:if>
            <div class=" carousel__component--carousel js-owl-carousel owl-carousel js-owl-pdp-img-mobile owl-theme hidden-md hidden-lg hidden-sm hidden-xs">
                <div class="div-label-cla">
                    <c:if test="${product.ecoFriendly}">
                        <div class="label-ecoFriendly"></div>
                    </c:if>
                    <c:if test="${product.glutenFree}">
                        <div class="label-glutenFree"></div>
                    </c:if>
                    <c:if test="${product.vegan}">
                        <div class="label-vegan"></div>
                    </c:if>
                    <c:if test="${product.organic}">
                        <div class="label-organic"></div>
                    </c:if>
                    <c:if test="${product.sugarFree}">
                        <div class="label-sugarFree"></div>
                    </c:if>
                </div>
                <c:forEach items="${galleryImages}" var="container" varStatus="varStatus" step="1">
                    <div class="carousel__item">
                        <a class=" col-md-12 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1  "
                           href="${fn:escapeXml(container.zoom.url)}"

                        >
                            <c:set value="none" var="display" />
                            <c:if test="${not empty product.productLabel}"><c:set value="inline" var="display" /></c:if>
                            <div class="carousel__item--label label_image"
                                 style="display:${display}">${product.productLabel} <spring:theme
                                        code='off' /></div>


                            <img src="${fn:escapeXml(container.zoom.url)}" srcset="${fn:escapeXml(container.zoom.url)}"
                                 alt="" style="max-width:400px;" /><c:set value="hidden" var="isin"></c:set>


                                <%--                 <c:if test="${not empty product.productLabel}"> --%>
                                <%-- 				<div class="ribbon2 top ${not empty product.productLabelPosition ? product.productLabelPosition : 'top right'}" style="background-color:${not empty product.productLabelColor ? product.productLabelColor : '#000'}">${fn:escapeXml(product.productLabel)}</div> --%>
                                <%-- 				</c:if> --%>


                        </a>
                    </div>

                </c:forEach>


            </div>


        </div>
    </c:otherwise>
</c:choose>
