<%@ tag body-content="empty" trimDirectiveWhitespaces="true" %>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ taglib prefix="fn" uri="http://java.sun.com/jsp/jstl/functions" %>

<%@ taglib prefix="cms" tagdir="/WEB-INF/tags/responsive/template/cms" %>
<%@ taglib prefix="template" tagdir="/WEB-INF/tags/responsive/template" %>

<template:javaScriptVariables />

<c:set var="commonResourcePathHtml" value="${fn:escapeXml(commonResourcePath)}" />

<c:choose>
    <c:when test="${wro4jEnabled}">


        <script src="${fn:escapeXml(contextPath)}/wro/all_responsive.js"></script>
        <script src="${fn:escapeXml(contextPath)}/wro/addons_responsive.js"></script>
        <%-- Custom ACC JS --%>


        <%-- Cms Action JavaScript files --%>
        <c:forEach items="${cmsActionsJsFiles}" var="actionJsFile">
            <script src="${commonResourcePathHtml}/js/cms/${fn:escapeXml(actionJsFile)}"></script>
        </c:forEach>


    </c:when>
    <c:otherwise>

        <%-- jquery --%>

        <script src="${commonResourcePathHtml}/js/jquery-3.5.1.min.js"></script>

        <%-- Map --%>


        <%-- plugins --%>

        <script src="${commonResourcePathHtml}/js/bootstrap-select.js"></script>
<c:if test="${cmsPage.uid ne 'storefinderPage'}">
    <c:if test="${cmsPage.uid ne 'productDetails'}">
<!--         <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcS1L_UovK4G7DT92RB7Ly4ltvruZLpEI&sensor=true&libraries=places"></script> -->
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBR8aS0pCX8pjNvIlCsBxmwn03Mx4yu7Nc&sensor=false&libraries=places"></script>
        
        
    </c:if>
</c:if>
        <script src="${commonResourcePathHtml}/js/enquire.min.js"></script>
        <script src="${commonResourcePathHtml}/js/Imager.min.js"></script>
        <script src="${commonResourcePathHtml}/js/purify.min.js"></script>
        <script src="${commonResourcePathHtml}/js/jquery.blockUI-2.66.js"></script>
        <script src="${commonResourcePathHtml}/js/jquery.colorbox-min.js"></script>
        <script src="${commonResourcePathHtml}/js/jquery.form.min.js"></script>
        <script src="${commonResourcePathHtml}/js/jquery.hoverIntent.js"></script>
        <script src="${commonResourcePathHtml}/js/jquery.pstrength.custom-1.2.0.js"></script>
        <script src="${commonResourcePathHtml}/js/jquery.syncheight.custom.js"></script>
        <script src="${commonResourcePathHtml}/js/jquery.tabs.custom.js"></script>
        <script src="${commonResourcePathHtml}/js/jquery-ui-1.12.1.min.js"></script>


        <script src="${commonResourcePathHtml}/js/jquery.zoom.custom.js"></script>

        <script src="${commonResourcePathHtml}/js/jquery.tmpl-1.0.0pre.min.js"></script>
        <script src="${commonResourcePathHtml}/js/jquery.currencies.min.js"></script>
        <script src="${commonResourcePathHtml}/js/jquery.waitforimages.min.js"></script>
        <script src="${commonResourcePathHtml}/js/jquery.slideviewer.custom.1.2.js"></script>
        <script src="${commonResourcePathHtml}/js/jquery.sticky.js"></script>


        <%-- Custom ACC JS --%>
        <c:choose>
            <c:when test="${fn:escapeXml(currentLanguage.isocode) eq 'ar'}">
                <script src="${commonResourcePathHtml}/js/owl.carousel.customrtl.js"></script>
            </c:when>
            <c:otherwise>
                <script src="${commonResourcePathHtml}/js/owl.carousel.custom.js"></script>
            </c:otherwise>
        </c:choose>


        <script src="${commonResourcePathHtml}/js/toastr.js"></script>
        <script src="${commonResourcePathHtml}/js/datepicker.min.js"></script>
        <script src="${commonResourcePathHtml}/js/acc.address.js"></script>
        <script src="${commonResourcePathHtml}/js/acc.autocomplete.js"></script>
        <script src="${commonResourcePathHtml}/js/acc.carousel.js"></script>
        <script src="${commonResourcePathHtml}/js/acc.cart.js"></script>
        <script src="${commonResourcePathHtml}/js/acc.cartitem.js"></script>
        <script src="${commonResourcePathHtml}/js/acc.checkout.js"></script>
        <script src="${commonResourcePathHtml}/js/acc.checkoutsteps.js"></script>
        <script src="${commonResourcePathHtml}/js/acc.cms.js"></script>
        <script src="${commonResourcePathHtml}/js/acc.colorbox.js"></script>
        <script src="${commonResourcePathHtml}/js/acc.common.js"></script>
        <script src="${commonResourcePathHtml}/js/acc.forgottenpassword.js"></script>
        <script src="${commonResourcePathHtml}/js/acc.global.js"></script>
        <script src="${commonResourcePathHtml}/js/acc.hopdebug.js"></script>
        <script src="${commonResourcePathHtml}/js/acc.imagegallery.js"></script>
        <script src="${commonResourcePathHtml}/js/acc.langcurrencyselector.js"></script>
        <script src="${commonResourcePathHtml}/js/acc.minicart.js"></script>
        <script src="${commonResourcePathHtml}/js/acc.navigation.js"></script>
        <script src="${commonResourcePathHtml}/js/acc.order.js"></script>
        <script src="${commonResourcePathHtml}/js/acc.paginationsort.js"></script>
        <script src="${commonResourcePathHtml}/js/acc.payment.js"></script>
        <script src="${commonResourcePathHtml}/js/acc.paymentDetails.js"></script>
        <script src="${commonResourcePathHtml}/js/acc.pickupinstore.js"></script>
        <script src="${commonResourcePathHtml}/js/acc.product.js"></script>
        <script src="${commonResourcePathHtml}/js/acc.productDetail.js"></script>
        <script src="${commonResourcePathHtml}/js/acc.quickview.js"></script>
        <script src="${commonResourcePathHtml}/js/acc.ratingstars.js"></script>
        <script src="${commonResourcePathHtml}/js/acc.refinements.js"></script>
        <script src="${commonResourcePathHtml}/js/acc.sanitizer.js"></script>
        <script src="${commonResourcePathHtml}/js/acc.silentorderpost.js"></script>
        <script src="${commonResourcePathHtml}/js/acc.tabs.js"></script>
        <script src="${commonResourcePathHtml}/js/acc.termsandconditions.js"></script>
        <script src="${commonResourcePathHtml}/js/acc.track.js"></script>
        <script src="${commonResourcePathHtml}/js/acc.storefinder.js"></script>
        <script src="${commonResourcePathHtml}/js/acc.futurelink.js"></script>
        <script src="${commonResourcePathHtml}/js/acc.productorderform.js"></script>
        <script src="${commonResourcePathHtml}/js/acc.savedcarts.js"></script>
        <script src="${commonResourcePathHtml}/js/acc.multidgrid.js"></script>
        <script src="${commonResourcePathHtml}/js/acc.quickorder.js"></script>
        <script src="${commonResourcePathHtml}/js/acc.quote.js"></script>
        <script src="${commonResourcePathHtml}/js/acc.consent.js"></script>
        <script src="${commonResourcePathHtml}/js/acc.cookienotification.js"></script>
        <script src="${commonResourcePathHtml}/js/acc.closeaccount.js"></script>
        <script src="${commonResourcePathHtml}/js/acc.area.js"></script>
        <c:if test="${cmsPage.uid ne 'storefinderPage'}">
            <script src="${commonResourcePathHtml}/js/locationpicker.jquery.js"></script>
        </c:if>
           <script src="${commonResourcePathHtml}/js/jquery.placepicker.js"></script>
        <script src="${commonResourcePathHtml}/js/acc.csv-import.js"></script>

        <script src="${commonResourcePathHtml}/js/_autoload.js"></script>

        <script src="${commonResourcePathHtml}/js/acc.wishlist.js"></script>
        <script src="${commonResourcePathHtml}/js/infinite-scroll.pkgd.min.js"></script>
        <script src="${commonResourcePathHtml}/js/tweenmax.js"></script>

        <script src="${commonResourcePathHtml}/js/webslidemenu.js"></script>
        <script src="${commonResourcePathHtml}/js/magiczoomplus.js"></script>

        <script src="${commonResourcePathHtml}/js/jquery.date-dropdowns.js"></script>
        <script src="${commonResourcePathHtml}/js/js.js"></script>


        <%-- AddOn JavaScript files --%>
        <c:forEach items="${addOnJavaScriptPaths}" var="addOnJavaScript">
            <script src="${fn:escapeXml(addOnJavaScript)}"></script>
        </c:forEach>

    </c:otherwise>
</c:choose>


<cms:previewJS cmsPageRequestContextData="${cmsPageRequestContextData}" />
