<%@ tag body-content="empty" trimDirectiveWhitespaces="true"%>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>
<%@ taglib prefix="fn" uri="http://java.sun.com/jsp/jstl/functions"%>
<%@ taglib prefix="ycommerce" uri="http://hybris.com/tld/ycommercetags"%>
<%@ taglib prefix="cms" uri="http://hybris.com/tld/cmstags"%>
<%@ taglib prefix="component" tagdir="/WEB-INF/tags/responsive/component"%>
<%@ attribute name="banners" required="false" type="java.util.List" %>

<div class="main_banner">
			<c:if test="${not empty title}"> <div class="headline">${title}<br/><span>${content}</span></div></c:if>
			<div class="owl-carousel carousel js-owl-carousel owl-carousel js-owl-rotating-image owl-theme">	
		
			<c:forEach items="${banners}" var="banner" varStatus="loop">
		<div class="item">
			<component:simpleresponsivebanner medias="${banner.medias}" urlLink="${banner.urlLink}" header="${banner.header}" content="${banner.content}"  linkTarget="${banner.linkTarget}"   youtubeId="${banner.youtubeId}"   />
		</div>
	</c:forEach>
	</div>
</div>
