.flagicon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  margin-top: 1px;
  float: left;
}
.product-item .flagicon {
  width: 15px;
  height: 15px;
  margin-top: 1px;
}
.ad{background:url(../images/flag/ad.svg) no-repeat;background-size: 100%;}
.ae{background:url(../images/flag/ae.svg) no-repeat;background-size: 100%;}
.af{background:url(../images/flag/af.svg) no-repeat;background-size: 100%;}
.ag{background:url(../images/flag/ag.svg) no-repeat;background-size: 100%;}
.ai{background:url(../images/flag/ai.svg) no-repeat;background-size: 100%;}
.al{background:url(../images/flag/al.svg) no-repeat;background-size: 100%;}
.am{background:url(../images/flag/am.svg) no-repeat;background-size: 100%;}
.ao{background:url(../images/flag/ao.svg) no-repeat;background-size: 100%;}
.ar{background:url(../images/flag/ar.svg) no-repeat;background-size: 100%;}
.as{background:url(../images/flag/as.svg) no-repeat;background-size: 100%;}
.at{background:url(../images/flag/at.svg) no-repeat;background-size: 100%;}
.au{background:url(../images/flag/au.svg) no-repeat;background-size: 100%;}
.aw{background:url(../images/flag/aw.svg) no-repeat;background-size: 100%;}
.ax{background:url(../images/flag/ax.svg) no-repeat;background-size: 100%;}
.az{background:url(../images/flag/az.svg) no-repeat;background-size: 100%;}
.ba{background:url(../images/flag/ba.svg) no-repeat;background-size: 100%;}
.bb{background:url(../images/flag/bb.svg) no-repeat;background-size: 100%;}
.bd{background:url(../images/flag/bd.svg) no-repeat;background-size: 100%;}
.be{background:url(../images/flag/be.svg) no-repeat;background-size: 100%;}
.bf{background:url(../images/flag/bf.svg) no-repeat;background-size: 100%;}
.bg{background:url(../images/flag/bg.svg) no-repeat;background-size: 100%;}
.bh{background:url(../images/flag/bh.svg) no-repeat;background-size: 100%;}
.bi{background:url(../images/flag/bi.svg) no-repeat;background-size: 100%;}
.bj{background:url(../images/flag/bj.svg) no-repeat;background-size: 100%;}
.bl{background:url(../images/flag/bl.svg) no-repeat;background-size: 100%;}
.bm{background:url(../images/flag/bm.svg) no-repeat;background-size: 100%;}
.bn{background:url(../images/flag/bn.svg) no-repeat;background-size: 100%;}
.bo{background:url(../images/flag/bo.svg) no-repeat;background-size: 100%;}
.bq-bo{background:url(../images/flag/bq-bo.svg) no-repeat;background-size: 100%;}
.bq-sa{background:url(../images/flag/bq-sa.svg) no-repeat;background-size: 100%;}
.bq-se{background:url(../images/flag/bq-se.svg) no-repeat;background-size: 100%;}
.br{background:url(../images/flag/br.svg) no-repeat;background-size: 100%;}
.bs{background:url(../images/flag/bs.svg) no-repeat;background-size: 100%;}
.bt{background:url(../images/flag/bt.svg) no-repeat;background-size: 100%;}
.bw{background:url(../images/flag/bw.svg) no-repeat;background-size: 100%;}
.by{background:url(../images/flag/by.svg) no-repeat;background-size: 100%;}
.bz{background:url(../images/flag/bz.svg) no-repeat;background-size: 100%;}
.ca{background:url(../images/flag/ca.svg) no-repeat;background-size: 100%;}
.ca-bc{background:url(../images/flag/ca-bc.svg) no-repeat;background-size: 100%;}
.cc{background:url(../images/flag/cc.svg) no-repeat;background-size: 100%;}
.cd{background:url(../images/flag/cd.svg) no-repeat;background-size: 100%;}
.cf{background:url(../images/flag/cf.svg) no-repeat;background-size: 100%;}
.cg{background:url(../images/flag/cg.svg) no-repeat;background-size: 100%;}
.ch{background:url(../images/flag/ch.svg) no-repeat;background-size: 100%;}
.ci{background:url(../images/flag/ci.svg) no-repeat;background-size: 100%;}
.ck{background:url(../images/flag/ck.svg) no-repeat;background-size: 100%;}
.cl{background:url(../images/flag/cl.svg) no-repeat;background-size: 100%;}
.cm{background:url(../images/flag/cm.svg) no-repeat;background-size: 100%;}
.cn{background:url(../images/flag/cn.svg) no-repeat;background-size: 100%;}
.co{background:url(../images/flag/co.svg) no-repeat;background-size: 100%;}
.cr{background:url(../images/flag/cr.svg) no-repeat;background-size: 100%;}
.cu{background:url(../images/flag/cu.svg) no-repeat;background-size: 100%;}
.cv{background:url(../images/flag/cv.svg) no-repeat;background-size: 100%;}
.cw{background:url(../images/flag/cw.svg) no-repeat;background-size: 100%;}
.cx{background:url(../images/flag/cx.svg) no-repeat;background-size: 100%;}
.cy{background:url(../images/flag/cy.svg) no-repeat;background-size: 100%;}
.cz{background:url(../images/flag/cz.svg) no-repeat;background-size: 100%;}
.de{background:url(../images/flag/de.svg) no-repeat;background-size: 100%;}
.dj{background:url(../images/flag/dj.svg) no-repeat;background-size: 100%;}
.dk{background:url(../images/flag/dk.svg) no-repeat;background-size: 100%;}
.dm{background:url(../images/flag/dm.svg) no-repeat;background-size: 100%;}
.do{background:url(../images/flag/do.svg) no-repeat;background-size: 100%;}
.dz{background:url(../images/flag/dz.svg) no-repeat;background-size: 100%;}
.easter_island{background:url(../images/flag/easter_island.svg) no-repeat;background-size: 100%;}
.ec{background:url(../images/flag/ec.svg) no-repeat;background-size: 100%;}
.ec-w{background:url(../images/flag/ec-w.svg) no-repeat;background-size: 100%;}
.ee{background:url(../images/flag/ee.svg) no-repeat;background-size: 100%;}
.eg{background:url(../images/flag/eg.svg) no-repeat;background-size: 100%;}
.eh{background:url(../images/flag/eh.svg) no-repeat;background-size: 100%;}
.er{background:url(../images/flag/er.svg) no-repeat;background-size: 100%;}
.es{background:url(../images/flag/es.svg) no-repeat;background-size: 100%;}
.es-ce{background:url(../images/flag/es-ce.svg) no-repeat;background-size: 100%;}
.es-cn{background:url(../images/flag/es-cn.svg) no-repeat;background-size: 100%;}
.es-ga{background:url(../images/flag/es-ga.svg) no-repeat;background-size: 100%;}
.es-ib{background:url(../images/flag/es-ib.svg) no-repeat;background-size: 100%;}
.es-ml{background:url(../images/flag/es-ml.svg) no-repeat;background-size: 100%;}
.esperanto{background:url(../images/flag/esperanto.svg) no-repeat;background-size: 100%;}
.es-pv{background:url(../images/flag/es-pv.svg) no-repeat;background-size: 100%;}
.et{background:url(../images/flag/et.svg) no-repeat;background-size: 100%;}
.european_union{background:url(../images/flag/european_union.svg) no-repeat;background-size: 100%;}
.fi{background:url(../images/flag/fi.svg) no-repeat;background-size: 100%;}
.fj{background:url(../images/flag/fj.svg) no-repeat;background-size: 100%;}
.fk{background:url(../images/flag/fk.svg) no-repeat;background-size: 100%;}
.fm{background:url(../images/flag/fm.svg) no-repeat;background-size: 100%;}
.fo{background:url(../images/flag/fo.svg) no-repeat;background-size: 100%;}
.fr{background:url(../images/flag/fr.svg) no-repeat;background-size: 100%;}
.fr-h{background:url(../images/flag/fr-h.svg) no-repeat;background-size: 100%;}
.ga{background:url(../images/flag/ga.svg) no-repeat;background-size: 100%;}
.gb{background:url(../images/flag/gb.svg) no-repeat;background-size: 100%;}
.gb-eng{background:url(../images/flag/gb-eng.svg) no-repeat;background-size: 100%;}
.gb-ork{background:url(../images/flag/gb-ork.svg) no-repeat;background-size: 100%;}
.gb-sct{background:url(../images/flag/gb-sct.svg) no-repeat;background-size: 100%;}
.gb-wls{background:url(../images/flag/gb-wls.svg) no-repeat;background-size: 100%;}
.gd{background:url(../images/flag/gd.svg) no-repeat;background-size: 100%;}
.ge{background:url(../images/flag/ge.svg) no-repeat;background-size: 100%;}
.ge-ab{background:url(../images/flag/ge-ab.svg) no-repeat;background-size: 100%;}
.gg{background:url(../images/flag/gg.svg) no-repeat;background-size: 100%;}
.gh{background:url(../images/flag/gh.svg) no-repeat;background-size: 100%;}
.gi{background:url(../images/flag/gi.svg) no-repeat;background-size: 100%;}
.gl{background:url(../images/flag/gl.svg) no-repeat;background-size: 100%;}
.gm{background:url(../images/flag/gm.svg) no-repeat;background-size: 100%;}
.gn{background:url(../images/flag/gn.svg) no-repeat;background-size: 100%;}
.gq{background:url(../images/flag/gq.svg) no-repeat;background-size: 100%;}
.gr{background:url(../images/flag/gr.svg) no-repeat;background-size: 100%;}
.gt{background:url(../images/flag/gt.svg) no-repeat;background-size: 100%;}
.gu{background:url(../images/flag/gu.svg) no-repeat;background-size: 100%;}
.gw{background:url(../images/flag/gw.svg) no-repeat;background-size: 100%;}
.gy{background:url(../images/flag/gy.svg) no-repeat;background-size: 100%;}
.hausa{background:url(../images/flag/hausa.svg) no-repeat;background-size: 100%;}
.hk{background:url(../images/flag/hk.svg) no-repeat;background-size: 100%;}
.hmong{background:url(../images/flag/hmong.svg) no-repeat;background-size: 100%;}
.hn{background:url(../images/flag/hn.svg) no-repeat;background-size: 100%;}
.hr{background:url(../images/flag/hr.svg) no-repeat;background-size: 100%;}
.ht{background:url(../images/flag/ht.svg) no-repeat;background-size: 100%;}
.hu{background:url(../images/flag/hu.svg) no-repeat;background-size: 100%;}
.id{background:url(../images/flag/id.svg) no-repeat;background-size: 100%;}
.ie{background:url(../images/flag/ie.svg) no-repeat;background-size: 100%;}
.il{background:url(../images/flag/il.svg) no-repeat;background-size: 100%;}
.im{background:url(../images/flag/im.svg) no-repeat;background-size: 100%;}
/*.in{background:url(../images/flag/in.svg) no-repeat;background-size: 100%;}*/
.io{background:url(../images/flag/io.svg) no-repeat;background-size: 100%;}
.iq{background:url(../images/flag/iq.svg) no-repeat;background-size: 100%;}
.ir{background:url(../images/flag/ir.svg) no-repeat;background-size: 100%;}
.is{background:url(../images/flag/is.svg) no-repeat;background-size: 100%;}
.it{background:url(../images/flag/it.svg) no-repeat;background-size: 100%;}
.it-82{background:url(../images/flag/it-82.svg) no-repeat;background-size: 100%;}
.it-88{background:url(../images/flag/it-88.svg) no-repeat;background-size: 100%;}
.je{background:url(../images/flag/je.svg) no-repeat;background-size: 100%;}
.jm{background:url(../images/flag/jm.svg) no-repeat;background-size: 100%;}
.jo{background:url(../images/flag/jo.svg) no-repeat;background-size: 100%;}
.jp{background:url(../images/flag/jp.svg) no-repeat;background-size: 100%;}
.kannada{background:url(../images/flag/kannada.svg) no-repeat;background-size: 100%;}
.ke{background:url(../images/flag/ke.svg) no-repeat;background-size: 100%;}
.kg{background:url(../images/flag/kg.svg) no-repeat;background-size: 100%;}
.kh{background:url(../images/flag/kh.svg) no-repeat;background-size: 100%;}
.ki{background:url(../images/flag/ki.svg) no-repeat;background-size: 100%;}
.km{background:url(../images/flag/km.svg) no-repeat;background-size: 100%;}
.kn{background:url(../images/flag/kn.svg) no-repeat;background-size: 100%;}
.kp{background:url(../images/flag/kp.svg) no-repeat;background-size: 100%;}
.kr{background:url(../images/flag/kr.svg) no-repeat;background-size: 100%;}
.kurdistan{background:url(../images/flag/kurdistan.svg) no-repeat;background-size: 100%;}
.kw{background:url(../images/flag/kw.svg) no-repeat;background-size: 100%;}
.ky{background:url(../images/flag/ky.svg) no-repeat;background-size: 100%;}
.kz{background:url(../images/flag/kz.svg) no-repeat;background-size: 100%;}
.la{background:url(../images/flag/la.svg) no-repeat;background-size: 100%;}
.lb{background:url(../images/flag/lb.svg) no-repeat;background-size: 100%;}
.lc{background:url(../images/flag/lc.svg) no-repeat;background-size: 100%;}
.li{background:url(../images/flag/li.svg) no-repeat;background-size: 100%;}
.lk{background:url(../images/flag/lk.svg) no-repeat;background-size: 100%;}
.lr{background:url(../images/flag/lr.svg) no-repeat;background-size: 100%;}
.ls{background:url(../images/flag/ls.svg) no-repeat;background-size: 100%;}
.lt{background:url(../images/flag/lt.svg) no-repeat;background-size: 100%;}
.lu{background:url(../images/flag/lu.svg) no-repeat;background-size: 100%;}
.lv{background:url(../images/flag/lv.svg) no-repeat;background-size: 100%;}
.ly{background:url(../images/flag/ly.svg) no-repeat;background-size: 100%;}
.ma{background:url(../images/flag/ma.svg) no-repeat;background-size: 100%;}
.malayali{background:url(../images/flag/malayali.svg) no-repeat;background-size: 100%;}
.maori{background:url(../images/flag/maori.svg) no-repeat;background-size: 100%;}
.mc{background:url(../images/flag/mc.svg) no-repeat;background-size: 100%;}
.md{background:url(../images/flag/md.svg) no-repeat;background-size: 100%;}
.me{background:url(../images/flag/me.svg) no-repeat;background-size: 100%;}
.mg{background:url(../images/flag/mg.svg) no-repeat;background-size: 100%;}
.mh{background:url(../images/flag/mh.svg) no-repeat;background-size: 100%;}
.mk{background:url(../images/flag/mk.svg) no-repeat;background-size: 100%;}
.ml{background:url(../images/flag/ml.svg) no-repeat;background-size: 100%;}
.mm{background:url(../images/flag/mm.svg) no-repeat;background-size: 100%;}
.mn{background:url(../images/flag/mn.svg) no-repeat;background-size: 100%;}
.mo{background:url(../images/flag/mo.svg) no-repeat;background-size: 100%;}
.mp{background:url(../images/flag/mp.svg) no-repeat;background-size: 100%;}
.mq{background:url(../images/flag/mq.svg) no-repeat;background-size: 100%;}
.mr{background:url(../images/flag/mr.svg) no-repeat;background-size: 100%;}
.ms{background:url(../images/flag/ms.svg) no-repeat;background-size: 100%;}
.mt{background:url(../images/flag/mt.svg) no-repeat;background-size: 100%;}
.mu{background:url(../images/flag/mu.svg) no-repeat;background-size: 100%;}
.mv{background:url(../images/flag/mv.svg) no-repeat;background-size: 100%;}
.mw{background:url(../images/flag/mw.svg) no-repeat;background-size: 100%;}
.mx{background:url(../images/flag/mx.svg) no-repeat;background-size: 100%;}
.my{background:url(../images/flag/my.svg) no-repeat;background-size: 100%;}
.mz{background:url(../images/flag/mz.svg) no-repeat;background-size: 100%;}
.na{background:url(../images/flag/na.svg) no-repeat;background-size: 100%;}
.nato{background:url(../images/flag/nato.svg) no-repeat;background-size: 100%;}
.ne{background:url(../images/flag/ne.svg) no-repeat;background-size: 100%;}
.nf{background:url(../images/flag/nf.svg) no-repeat;background-size: 100%;}
.ng{background:url(../images/flag/ng.svg) no-repeat;background-size: 100%;}
.ni{background:url(../images/flag/ni.svg) no-repeat;background-size: 100%;}
.nl{background:url(../images/flag/nl.svg) no-repeat;background-size: 100%;}
.no{background:url(../images/flag/no.svg) no-repeat;background-size: 100%;}
.northern_cyprus{background:url(../images/flag/northern_cyprus.svg) no-repeat;background-size: 100%;}
.np{background:url(../images/flag/np.svg) no-repeat;background-size: 100%;}
.nr{background:url(../images/flag/nr.svg) no-repeat;background-size: 100%;}
.nu{background:url(../images/flag/nu.svg) no-repeat;background-size: 100%;}
.nz{background:url(../images/flag/nz.svg) no-repeat;background-size: 100%;}
.om{background:url(../images/flag/om.svg) no-repeat;background-size: 100%;}
.pa{background:url(../images/flag/pa.svg) no-repeat;background-size: 100%;}
.pe{background:url(../images/flag/pe.svg) no-repeat;background-size: 100%;}
.pf{background:url(../images/flag/pf.svg) no-repeat;background-size: 100%;}
.pg{background:url(../images/flag/pg.svg) no-repeat;background-size: 100%;}
.ph{background:url(../images/flag/ph.svg) no-repeat;background-size: 100%;}
.pk{background:url(../images/flag/pk.svg) no-repeat;background-size: 100%;}
.pl{background:url(../images/flag/pl.svg) no-repeat;background-size: 100%;}
.pn{background:url(../images/flag/pn.svg) no-repeat;background-size: 100%;}
.pr{background:url(../images/flag/pr.svg) no-repeat;background-size: 100%;}
.ps{background:url(../images/flag/ps.svg) no-repeat;background-size: 100%;}
.pt{background:url(../images/flag/pt.svg) no-repeat;background-size: 100%;}
.pt-20{background:url(../images/flag/pt-20.svg) no-repeat;background-size: 100%;}
.pt-30{background:url(../images/flag/pt-30.svg) no-repeat;background-size: 100%;}
.pw{background:url(../images/flag/pw.svg) no-repeat;background-size: 100%;}
.py{background:url(../images/flag/py.svg) no-repeat;background-size: 100%;}
.qa{background:url(../images/flag/qa.svg) no-repeat;background-size: 100%;}
.ro{background:url(../images/flag/ro.svg) no-repeat;background-size: 100%;}
.rs{background:url(../images/flag/rs.svg) no-repeat;background-size: 100%;}
.ru{background:url(../images/flag/ru.svg) no-repeat;background-size: 100%;}
.rw{background:url(../images/flag/rw.svg) no-repeat;background-size: 100%;}
.sa{background:url(../images/flag/sa.svg) no-repeat;background-size: 100%;}
.sb{background:url(../images/flag/sb.svg) no-repeat;background-size: 100%;}
.sc{background:url(../images/flag/sc.svg) no-repeat;background-size: 100%;}
.sd{background:url(../images/flag/sd.svg) no-repeat;background-size: 100%;}
.se{background:url(../images/flag/se.svg) no-repeat;background-size: 100%;}
.sg{background:url(../images/flag/sg.svg) no-repeat;background-size: 100%;}
.si{background:url(../images/flag/si.svg) no-repeat;background-size: 100%;}
.sindh{background:url(../images/flag/sindh.svg) no-repeat;background-size: 100%;}
.sk{background:url(../images/flag/sk.svg) no-repeat;background-size: 100%;}
.sl{background:url(../images/flag/sl.svg) no-repeat;background-size: 100%;}
.sm{background:url(../images/flag/sm.svg) no-repeat;background-size: 100%;}
.sn{background:url(../images/flag/sn.svg) no-repeat;background-size: 100%;}
.so{background:url(../images/flag/so.svg) no-repeat;background-size: 100%;}
.somaliland{background:url(../images/flag/somaliland.svg) no-repeat;background-size: 100%;}
.south_ossetia{background:url(../images/flag/south_ossetia.svg) no-repeat;background-size: 100%;}
.sr{background:url(../images/flag/sr.svg) no-repeat;background-size: 100%;}
.ss{background:url(../images/flag/ss.svg) no-repeat;background-size: 100%;}
.st{background:url(../images/flag/st.svg) no-repeat;background-size: 100%;}
.sv{background:url(../images/flag/sv.svg) no-repeat;background-size: 100%;}
.sx{background:url(../images/flag/sx.svg) no-repeat;background-size: 100%;}
.sy{background:url(../images/flag/sy.svg) no-repeat;background-size: 100%;}
.sz{background:url(../images/flag/sz.svg) no-repeat;background-size: 100%;}
.tc{background:url(../images/flag/tc.svg) no-repeat;background-size: 100%;}
.td{background:url(../images/flag/td.svg) no-repeat;background-size: 100%;}
.tg{background:url(../images/flag/tg.svg) no-repeat;background-size: 100%;}
.th{background:url(../images/flag/th.svg) no-repeat;background-size: 100%;}
.tibet{background:url(../images/flag/tibet.svg) no-repeat;background-size: 100%;}
.tj{background:url(../images/flag/tj.svg) no-repeat;background-size: 100%;}
.tk{background:url(../images/flag/tk.svg) no-repeat;background-size: 100%;}
.tl{background:url(../images/flag/tl.svg) no-repeat;background-size: 100%;}
.tm{background:url(../images/flag/tm.svg) no-repeat;background-size: 100%;}
.tn{background:url(../images/flag/tn.svg) no-repeat;background-size: 100%;}
.to{background:url(../images/flag/to.svg) no-repeat;background-size: 100%;}
.tr{background:url(../images/flag/tr.svg) no-repeat;background-size: 100%;}
.transnistria{background:url(../images/flag/transnistria.svg) no-repeat;background-size: 100%;}
.tt{background:url(../images/flag/tt.svg) no-repeat;background-size: 100%;}
.tv{background:url(../images/flag/tv.svg) no-repeat;background-size: 100%;}
.tw{background:url(../images/flag/tw.svg) no-repeat;background-size: 100%;}
.tz{background:url(../images/flag/tz.svg) no-repeat;background-size: 100%;}
.ua{background:url(../images/flag/ua.svg) no-repeat;background-size: 100%;}
.ug{background:url(../images/flag/ug.svg) no-repeat;background-size: 100%;}
.united_nations{background:url(../images/flag/united_nations.svg) no-repeat;background-size: 100%;}
.us{background:url(../images/flag/us.svg) no-repeat;background-size: 100%;}
.us-hi{background:url(../images/flag/us-hi.svg) no-repeat;background-size: 100%;}
.uy{background:url(../images/flag/uy.svg) no-repeat;background-size: 100%;}
.uz{background:url(../images/flag/uz.svg) no-repeat;background-size: 100%;}
.va{background:url(../images/flag/va.svg) no-repeat;background-size: 100%;}
.vc{background:url(../images/flag/vc.svg) no-repeat;background-size: 100%;}
.ve{background:url(../images/flag/ve.svg) no-repeat;background-size: 100%;}
.vg{background:url(../images/flag/vg.svg) no-repeat;background-size: 100%;}
.vi{background:url(../images/flag/vi.svg) no-repeat;background-size: 100%;}
.vn{background:url(../images/flag/vn.svg) no-repeat;background-size: 100%;}
.vu{background:url(../images/flag/vu.svg) no-repeat;background-size: 100%;}
.ws{background:url(../images/flag/ws.svg) no-repeat;background-size: 100%;}
.xk{background:url(../images/flag/xk.svg) no-repeat;background-size: 100%;}
.xx{background:url(../images/flag/xx.svg) no-repeat;background-size: 100%;}
.ye{background:url(../images/flag/ye.svg) no-repeat;background-size: 100%;}
.yiddish{background:url(../images/flag/yiddish.svg) no-repeat;background-size: 100%;}
.za{background:url(../images/flag/za.svg) no-repeat;background-size: 100%;}
.zm{background:url(../images/flag/zm.svg) no-repeat;background-size: 100%;}
.zw{background:url(../images/flag/zw.svg) no-repeat;background-size: 100%;}

.abkhazia{background:url(../images/flags/abkhazia.png)  no-repeat;background-size: 100%;}
.afghanistan{background:url(../images/flags/afghanistan.png)  no-repeat;background-size: 100%;}
.aland-islands{background:url(../images/flags/aland-islands.png)  no-repeat;background-size: 100%;}
.albania{background:url(../images/flags/albania.png)  no-repeat;background-size: 100%;}
.algeria{background:url(../images/flags/algeria.png)  no-repeat;background-size: 100%;}
.american-samoa{background:url(../images/flags/american-samoa.png)  no-repeat;background-size: 100%;}
.andorra{background:url(../images/flags/andorra.png)  no-repeat;background-size: 100%;}
.angola{background:url(../images/flags/angola.png)  no-repeat;background-size: 100%;}
.anguilla{background:url(../images/flags/anguilla.png)  no-repeat;background-size: 100%;}
.antigua-and-barbuda{background:url(../images/flags/antigua-and-barbuda.png)  no-repeat;background-size: 100%;}
.argentina{background:url(../images/flags/argentina.png)  no-repeat;background-size: 100%;}
.armenia{background:url(../images/flags/armenia.png)  no-repeat;background-size: 100%;}
.aruba{background:url(../images/flags/aruba.png)  no-repeat;background-size: 100%;}
.australia{background:url(../images/flags/australia.png)  no-repeat;background-size: 100%;}
.austria{background:url(../images/flags/austria.png)  no-repeat;background-size: 100%;}
.azerbaijan{background:url(../images/flags/azerbaijan.png)  no-repeat;background-size: 100%;}
.azores-islands{background:url(../images/flags/azores-islands.png)  no-repeat;background-size: 100%;}
.bahamas{background:url(../images/flags/bahamas.png)  no-repeat;background-size: 100%;}
.bahrain{background:url(../images/flags/bahrain.png)  no-repeat;background-size: 100%;}
.balearic-islands{background:url(../images/flags/balearic-islands.png)  no-repeat;background-size: 100%;}
.bangladesh{background:url(../images/flags/bangladesh.png)  no-repeat;background-size: 100%;}
.barbados{background:url(../images/flags/barbados.png)  no-repeat;background-size: 100%;}
.basque-country{background:url(../images/flags/basque-country.png)  no-repeat;background-size: 100%;}
.belarus{background:url(../images/flags/belarus.png)  no-repeat;background-size: 100%;}
.belgium{background:url(../images/flags/belgium.png)  no-repeat;background-size: 100%;}
.belize{background:url(../images/flags/belize.png)  no-repeat;background-size: 100%;}
.benin{background:url(../images/flags/benin.png)  no-repeat;background-size: 100%;}
.bermuda{background:url(../images/flags/bermuda.png)  no-repeat;background-size: 100%;}
.bhutan{background:url(../images/flags/bhutan.png)  no-repeat;background-size: 100%;}
.bhutan-1{background:url(../images/flags/bhutan-1.png)  no-repeat;background-size: 100%;}
.bolivia{background:url(../images/flags/bolivia.png)  no-repeat;background-size: 100%;}
.bonaire{background:url(../images/flags/bonaire.png)  no-repeat;background-size: 100%;}
.bosnia-and-herzegovina{background:url(../images/flags/bosnia-and-herzegovina.png)  no-repeat;background-size: 100%;}
.botswana{background:url(../images/flags/botswana.png)  no-repeat;background-size: 100%;}
.brazil{background:url(../images/flags/brazil.png)  no-repeat;background-size: 100%;}
.british-columbia{background:url(../images/flags/british-columbia.png)  no-repeat;background-size: 100%;}
.british-indian-ocean-territory{background:url(../images/flags/british-indian-ocean-territory.png)  no-repeat;background-size: 100%;}
.british-virgin-islands{background:url(../images/flags/british-virgin-islands.png)  no-repeat;background-size: 100%;}
.brunei{background:url(../images/flags/brunei.png)  no-repeat;background-size: 100%;}
.bulgaria{background:url(../images/flags/bulgaria.png)  no-repeat;background-size: 100%;}
.burkina-faso{background:url(../images/flags/burkina-faso.png)  no-repeat;background-size: 100%;}
.burundi{background:url(../images/flags/burundi.png)  no-repeat;background-size: 100%;}
.cambodia{background:url(../images/flags/cambodia.png)  no-repeat;background-size: 100%;}
.cameroon{background:url(../images/flags/cameroon.png)  no-repeat;background-size: 100%;}
.canada{background:url(../images/flags/canada.png)  no-repeat;background-size: 100%;}
.canary-islands{background:url(../images/flags/canary-islands.png)  no-repeat;background-size: 100%;}
.cape-verde{background:url(../images/flags/cape-verde.png)  no-repeat;background-size: 100%;}
.cayman-islands{background:url(../images/flags/cayman-islands.png)  no-repeat;background-size: 100%;}
.central-african-republic{background:url(../images/flags/central-african-republic.png)  no-repeat;background-size: 100%;}
.ceuta{background:url(../images/flags/ceuta.png)  no-repeat;background-size: 100%;}
.chad{background:url(../images/flags/chad.png)  no-repeat;background-size: 100%;}
.chile{background:url(../images/flags/chile.png)  no-repeat;background-size: 100%;}
.china{background:url(../images/flags/china.png)  no-repeat;background-size: 100%;}
.christmas-island{background:url(../images/flags/christmas-island.png)  no-repeat;background-size: 100%;}
.cocos-island{background:url(../images/flags/cocos-island.png)  no-repeat;background-size: 100%;}
.colombia{background:url(../images/flags/colombia.png)  no-repeat;background-size: 100%;}
.comoros{background:url(../images/flags/comoros.png)  no-repeat;background-size: 100%;}
.cook-islands{background:url(../images/flags/cook-islands.png)  no-repeat;background-size: 100%;}
.corsica{background:url(../images/flags/corsica.png)  no-repeat;background-size: 100%;}
.costa-rica{background:url(../images/flags/costa-rica.png)  no-repeat;background-size: 100%;}
.croatia{background:url(../images/flags/croatia.png)  no-repeat;background-size: 100%;}
.cuba{background:url(../images/flags/cuba.png)  no-repeat;background-size: 100%;}
.curacao{background:url(../images/flags/curacao.png)  no-repeat;background-size: 100%;}
.cyprus{background:url(../images/flags/cyprus.png)  no-repeat;background-size: 100%;}
.czech-republic{background:url(../images/flags/czech-republic.png)  no-repeat;background-size: 100%;}
.democratic-republic-of-congo{background:url(../images/flags/democratic-republic-of-congo.png)  no-repeat;background-size: 100%;}
.denmark{background:url(../images/flags/denmark.png)  no-repeat;background-size: 100%;}
.djibouti{background:url(../images/flags/djibouti.png)  no-repeat;background-size: 100%;}
.dominica{background:url(../images/flags/dominica.png)  no-repeat;background-size: 100%;}
.dominican-republic{background:url(../images/flags/dominican-republic.png)  no-repeat;background-size: 100%;}
.east-timor{background:url(../images/flags/east-timor.png)  no-repeat;background-size: 100%;}
.ecuador,.ecador{background:url(../images/flags/ecuador.png)  no-repeat;background-size: 100%;}
.egypt{background:url(../images/flags/egypt.png)  no-repeat;background-size: 100%;}
.england{background:url(../images/flags/england.png)  no-repeat;background-size: 100%;}
.equatorial-guinea{background:url(../images/flags/equatorial-guinea.png)  no-repeat;background-size: 100%;}
.eritrea{background:url(../images/flags/eritrea.png)  no-repeat;background-size: 100%;}
.estonia{background:url(../images/flags/estonia.png)  no-repeat;background-size: 100%;}
.ethiopia{background:url(../images/flags/ethiopia.png)  no-repeat;background-size: 100%;}
.european-union{background:url(../images/flags/european-union.png)  no-repeat;background-size: 100%;}
.falkland-islands{background:url(../images/flags/falkland-islands.png)  no-repeat;background-size: 100%;}
.faroe-islands{background:url(../images/flags/faroe-islands.png)  no-repeat;background-size: 100%;}
.fiji{background:url(../images/flags/fiji.png)  no-repeat;background-size: 100%;}
.finland{background:url(../images/flags/finland.png)  no-repeat;background-size: 100%;}
.france,.french{background:url(../images/flags/france.png)  no-repeat;background-size: 100%;}
.french-polynesia{background:url(../images/flags/french-polynesia.png)  no-repeat;background-size: 100%;}
.gabon{background:url(../images/flags/gabon.png)  no-repeat;background-size: 100%;}
.galapagos-islands{background:url(../images/flags/galapagos-islands.png)  no-repeat;background-size: 100%;}
.gambia{background:url(../images/flags/gambia.png)  no-repeat;background-size: 100%;}
.georgia{background:url(../images/flags/georgia.png)  no-repeat;background-size: 100%;}
.germany{background:url(../images/flags/germany.png)  no-repeat;background-size: 100%;}
.ghana{background:url(../images/flags/ghana.png)  no-repeat;background-size: 100%;}
.gibraltar{background:url(../images/flags/gibraltar.png)  no-repeat;background-size: 100%;}
.greece{background:url(../images/flags/greece.png)  no-repeat;background-size: 100%;}
.greenland{background:url(../images/flags/greenland.png)  no-repeat;background-size: 100%;}
.grenada{background:url(../images/flags/grenada.png)  no-repeat;background-size: 100%;}
.guam{background:url(../images/flags/guam.png)  no-repeat;background-size: 100%;}
.guatemala{background:url(../images/flags/guatemala.png)  no-repeat;background-size: 100%;}
.guernsey{background:url(../images/flags/guernsey.png)  no-repeat;background-size: 100%;}
.guinea{background:url(../images/flags/guinea.png)  no-repeat;background-size: 100%;}
.guinea-bissau{background:url(../images/flags/guinea-bissau.png)  no-repeat;background-size: 100%;}
.guyana{background:url(../images/flags/guyana.png)  no-repeat;background-size: 100%;}
.haiti{background:url(../images/flags/haiti.png)  no-repeat;background-size: 100%;}
.hawaii{background:url(../images/flags/hawaii.png)  no-repeat;background-size: 100%;}
.honduras{background:url(../images/flags/honduras.png)  no-repeat;background-size: 100%;}
.hong-kong{background:url(../images/flags/hong-kong.png)  no-repeat;background-size: 100%;}
.hungary{background:url(../images/flags/hungary.png)  no-repeat;background-size: 100%;}
.iceland{background:url(../images/flags/iceland.png)  no-repeat;background-size: 100%;}
.india{background:url(../images/flags/india.png)  no-repeat;background-size: 100%;}
.indonesia{background:url(../images/flags/indonesia.png)  no-repeat;background-size: 100%;}
.iran{background:url(../images/flags/iran.png)  no-repeat;background-size: 100%;}
.iraq{background:url(../images/flags/iraq.png)  no-repeat;background-size: 100%;}
.ireland{background:url(../images/flags/ireland.png)  no-repeat;background-size: 100%;}
.isle-of-man{background:url(../images/flags/isle-of-man.png)  no-repeat;background-size: 100%;}
.israel{background:url(../images/flags/israel.png)  no-repeat;background-size: 100%;}
.italy{background:url(../images/flags/italy.png)  no-repeat;background-size: 100%;}
.ivory-coast{background:url(../images/flags/ivory-coast.png)  no-repeat;background-size: 100%;}
.jamaica{background:url(../images/flags/jamaica.png)  no-repeat;background-size: 100%;}
.japan{background:url(../images/flags/japan.png)  no-repeat;background-size: 100%;}
.jersey{background:url(../images/flags/jersey.png)  no-repeat;background-size: 100%;}
.jordan{background:url(../images/flags/jordan.png)  no-repeat;background-size: 100%;}
.kazakhstan{background:url(../images/flags/kazakhstan.png)  no-repeat;background-size: 100%;}
.kenya{background:url(../images/flags/kenya.png)  no-repeat;background-size: 100%;}
.kiribati{background:url(../images/flags/kiribati.png)  no-repeat;background-size: 100%;}
.kosovo{background:url(../images/flags/kosovo.png)  no-repeat;background-size: 100%;}
.kuwait{background:url(../images/flags/kuwait.png)  no-repeat;background-size: 100%;}
.kyrgyzstan{background:url(../images/flags/kyrgyzstan.png)  no-repeat;background-size: 100%;}
.laos{background:url(../images/flags/laos.png)  no-repeat;background-size: 100%;}
.latvia{background:url(../images/flags/latvia.png)  no-repeat;background-size: 100%;}
.lebanon{background:url(../images/flags/lebanon.png)  no-repeat;background-size: 100%;}
.lesotho{background:url(../images/flags/lesotho.png)  no-repeat;background-size: 100%;}
.liberia{background:url(../images/flags/liberia.png)  no-repeat;background-size: 100%;}
.libya{background:url(../images/flags/libya.png)  no-repeat;background-size: 100%;}
.liechtenstein{background:url(../images/flags/liechtenstein.png)  no-repeat;background-size: 100%;}
.lithuania{background:url(../images/flags/lithuania.png)  no-repeat;background-size: 100%;}
.luxembourg{background:url(../images/flags/luxembourg.png)  no-repeat;background-size: 100%;}
.macao{background:url(../images/flags/macao.png)  no-repeat;background-size: 100%;}
.madagascar{background:url(../images/flags/madagascar.png)  no-repeat;background-size: 100%;}
.madeira{background:url(../images/flags/madeira.png)  no-repeat;background-size: 100%;}
.malawi{background:url(../images/flags/malawi.png)  no-repeat;background-size: 100%;}
.malaysia{background:url(../images/flags/malaysia.png)  no-repeat;background-size: 100%;}
.maldives{background:url(../images/flags/maldives.png)  no-repeat;background-size: 100%;}
.mali{background:url(../images/flags/mali.png)  no-repeat;background-size: 100%;}
.malta{background:url(../images/flags/malta.png)  no-repeat;background-size: 100%;}
.marshall-island{background:url(../images/flags/marshall-island.png)  no-repeat;background-size: 100%;}
.martinique{background:url(../images/flags/martinique.png)  no-repeat;background-size: 100%;}
.mauritania{background:url(../images/flags/mauritania.png)  no-repeat;background-size: 100%;}
.mauritius{background:url(../images/flags/mauritius.png)  no-repeat;background-size: 100%;}
.melilla{background:url(../images/flags/melilla.png)  no-repeat;background-size: 100%;}
.mexico{background:url(../images/flags/mexico.png)  no-repeat;background-size: 100%;}
.micronesia{background:url(../images/flags/micronesia.png)  no-repeat;background-size: 100%;}
.moldova{background:url(../images/flags/moldova.png)  no-repeat;background-size: 100%;}
.monaco{background:url(../images/flags/monaco.png)  no-repeat;background-size: 100%;}
.mongolia{background:url(../images/flags/mongolia.png)  no-repeat;background-size: 100%;}
.montenegro{background:url(../images/flags/montenegro.png)  no-repeat;background-size: 100%;}
.montserrat{background:url(../images/flags/montserrat.png)  no-repeat;background-size: 100%;}
.morocco{background:url(../images/flags/morocco.png)  no-repeat;background-size: 100%;}
.mozambique{background:url(../images/flags/mozambique.png)  no-repeat;background-size: 100%;}
.myanmar{background:url(../images/flags/myanmar.png)  no-repeat;background-size: 100%;}
.namibia{background:url(../images/flags/namibia.png)  no-repeat;background-size: 100%;}
.nato{background:url(../images/flags/nato.png)  no-repeat;background-size: 100%;}
.nauru{background:url(../images/flags/nauru.png)  no-repeat;background-size: 100%;}
.nepal{background:url(../images/flags/nepal.png)  no-repeat;background-size: 100%;}
.netherlands,.holland{background:url(../images/flags/netherlands.png)  no-repeat;background-size: 100%;}
.new-zealand,.new-zeland{background:url(../images/flags/new-zealand.png)  no-repeat;background-size: 100%;}
.nicaragua{background:url(../images/flags/nicaragua.png)  no-repeat;background-size: 100%;}
.niger{background:url(../images/flags/niger.png)  no-repeat;background-size: 100%;}
.nigeria{background:url(../images/flags/nigeria.png)  no-repeat;background-size: 100%;}
.niue{background:url(../images/flags/niue.png)  no-repeat;background-size: 100%;}
.norfolk-island{background:url(../images/flags/norfolk-island.png)  no-repeat;background-size: 100%;}
.northen-cyprus{background:url(../images/flags/northen-cyprus.png)  no-repeat;background-size: 100%;}
.northern-marianas-islands{background:url(../images/flags/northern-marianas-islands.png)  no-repeat;background-size: 100%;}
.north-korea{background:url(../images/flags/north-korea.png)  no-repeat;background-size: 100%;}
.norway{background:url(../images/flags/norway.png)  no-repeat;background-size: 100%;}
.oman{background:url(../images/flags/oman.png)  no-repeat;background-size: 100%;}
.orkney-islands{background:url(../images/flags/orkney-islands.png)  no-repeat;background-size: 100%;}
.ossetia{background:url(../images/flags/ossetia.png)  no-repeat;background-size: 100%;}
.pakistan{background:url(../images/flags/pakistan.png)  no-repeat;background-size: 100%;}
.palau{background:url(../images/flags/palau.png)  no-repeat;background-size: 100%;}
.palestine{background:url(../images/flags/palestine.png)  no-repeat;background-size: 100%;}
.panama{background:url(../images/flags/panama.png)  no-repeat;background-size: 100%;}
.papua-new-guinea{background:url(../images/flags/papua-new-guinea.png)  no-repeat;background-size: 100%;}
.paraguay{background:url(../images/flags/paraguay.png)  no-repeat;background-size: 100%;}
.peru{background:url(../images/flags/peru.png)  no-repeat;background-size: 100%;}
.philippines{background:url(../images/flags/philippines.png)  no-repeat;background-size: 100%;}
.pitcairn-islands{background:url(../images/flags/pitcairn-islands.png)  no-repeat;background-size: 100%;}
.portugal{background:url(../images/flags/portugal.png)  no-repeat;background-size: 100%;}
.puerto-rico{background:url(../images/flags/puerto-rico.png)  no-repeat;background-size: 100%;}
.qatar{background:url(../images/flags/qatar.png)  no-repeat;background-size: 100%;}
.rapa-nui{background:url(../images/flags/rapa-nui.png)  no-repeat;background-size: 100%;}
.republic-of-macedonia{background:url(../images/flags/republic-of-macedonia.png)  no-repeat;background-size: 100%;}
.republic-of-poland{background:url(../images/flags/republic-of-poland.png)  no-repeat;background-size: 100%;}
.republic-of-the-congo{background:url(../images/flags/republic-of-the-congo.png)  no-repeat;background-size: 100%;}
.romania{background:url(../images/flags/romania.png)  no-repeat;background-size: 100%;}
.russia{background:url(../images/flags/russia.png)  no-repeat;background-size: 100%;}
.rwanda{background:url(../images/flags/rwanda.png)  no-repeat;background-size: 100%;}
.saba-island{background:url(../images/flags/saba-island.png)  no-repeat;background-size: 100%;}
.saint-kitts-and-nevis{background:url(../images/flags/saint-kitts-and-nevis.png)  no-repeat;background-size: 100%;}
.salvador{background:url(../images/flags/salvador.png)  no-repeat;background-size: 100%;}
.samoa{background:url(../images/flags/samoa.png)  no-repeat;background-size: 100%;}
.san-marino{background:url(../images/flags/san-marino.png)  no-repeat;background-size: 100%;}
.sao-tome-and-principe{background:url(../images/flags/sao-tome-and-principe.png)  no-repeat;background-size: 100%;}
.sardinia{background:url(../images/flags/sardinia.png)  no-repeat;background-size: 100%;}
.saudi-arabia,.kingdom-of-saudi-arabia,.saudi{background:url(../images/flags/saudi-arabia.png)  no-repeat;background-size: 100%;}
.scotland{background:url(../images/flags/scotland.png)  no-repeat;background-size: 100%;}
.senegal{background:url(../images/flags/senegal.png)  no-repeat;background-size: 100%;}
.serbia{background:url(../images/flags/serbia.png)  no-repeat;background-size: 100%;}
.seychelles{background:url(../images/flags/seychelles.png)  no-repeat;background-size: 100%;}
.sierra-leone{background:url(../images/flags/sierra-leone.png)  no-repeat;background-size: 100%;}
.singapore{background:url(../images/flags/singapore.png)  no-repeat;background-size: 100%;}
.sint-eustatius{background:url(../images/flags/sint-eustatius.png)  no-repeat;background-size: 100%;}
.sint-maarten{background:url(../images/flags/sint-maarten.png)  no-repeat;background-size: 100%;}
.slovakia{background:url(../images/flags/slovakia.png)  no-repeat;background-size: 100%;}
.slovenia{background:url(../images/flags/slovenia.png)  no-repeat;background-size: 100%;}
.solomon-islands{background:url(../images/flags/solomon-islands.png)  no-repeat;background-size: 100%;}
.somalia{background:url(../images/flags/somalia.png)  no-repeat;background-size: 100%;}
.somaliland{background:url(../images/flags/somaliland.png)  no-repeat;background-size: 100%;}
.south-africa{background:url(../images/flags/south-africa.png)  no-repeat;background-size: 100%;}
.south-korea{background:url(../images/flags/south-korea.png)  no-repeat;background-size: 100%;}
.south-sudan{background:url(../images/flags/south-sudan.png)  no-repeat;background-size: 100%;}
.spain{background:url(../images/flags/spain.png)  no-repeat;background-size: 100%;}
.sri-lanka{background:url(../images/flags/sri-lanka.png)  no-repeat;background-size: 100%;}
.st-barts{background:url(../images/flags/st-barts.png)  no-repeat;background-size: 100%;}
.st-lucia{background:url(../images/flags/st-lucia.png)  no-repeat;background-size: 100%;}
.st-vincent-and-the-grenadines{background:url(../images/flags/st-vincent-and-the-grenadines.png)  no-repeat;background-size: 100%;}
.sudan{background:url(../images/flags/sudan.png)  no-repeat;background-size: 100%;}
.suriname{background:url(../images/flags/suriname.png)  no-repeat;background-size: 100%;}
.swaziland{background:url(../images/flags/swaziland.png)  no-repeat;background-size: 100%;}
.sweden{background:url(../images/flags/sweden.png)  no-repeat;background-size: 100%;}
.switzerland{background:url(../images/flags/switzerland.png)  no-repeat;background-size: 100%;}
.syria,.syrian{background:url(../images/flags/syria.png)  no-repeat;background-size: 100%;}
.taiwan{background:url(../images/flags/taiwan.png)  no-repeat;background-size: 100%;}
.tajikistan{background:url(../images/flags/tajikistan.png)  no-repeat;background-size: 100%;}
.tanzania{background:url(../images/flags/tanzania.png)  no-repeat;background-size: 100%;}
.thailand{background:url(../images/flags/thailand.png)  no-repeat;background-size: 100%;}
.tibet{background:url(../images/flags/tibet.png)  no-repeat;background-size: 100%;}
.togo{background:url(../images/flags/togo.png)  no-repeat;background-size: 100%;}
.tokelau{background:url(../images/flags/tokelau.png)  no-repeat;background-size: 100%;}
.tonga{background:url(../images/flags/tonga.png)  no-repeat;background-size: 100%;}
.transnistria{background:url(../images/flags/transnistria.png)  no-repeat;background-size: 100%;}
.trinidad-and-tobago{background:url(../images/flags/trinidad-and-tobago.png)  no-repeat;background-size: 100%;}
.tunisia{background:url(../images/flags/tunisia.png)  no-repeat;background-size: 100%;}
.turkey,.turkish{background:url(../images/flags/turkey.png)  no-repeat;background-size: 100%;}
.turkmenistan{background:url(../images/flags/turkmenistan.png)  no-repeat;background-size: 100%;}
.turks-and-caicos{background:url(../images/flags/turks-and-caicos.png)  no-repeat;background-size: 100%;}
.tuvalu{background:url(../images/flags/tuvalu.png)  no-repeat;background-size: 100%;}
.uganda{background:url(../images/flags/uganda.png)  no-repeat;background-size: 100%;}
.ukraine{background:url(../images/flags/ukraine.png)  no-repeat;background-size: 100%;}
.united-arab-emirates, .uae{background:url(../images/flags/united-arab-emirates.png)  no-repeat;background-size: 100%;}
.united-kingdom, .uk{background:url(../images/flags/united-kingdom.png)  no-repeat;background-size: 100%;}
.united-nations{background:url(../images/flags/united-nations.png)  no-repeat;background-size: 100%;}
.united-states-of-america, .usa{background:url(../images/flags/united-states-of-america.png)  no-repeat;background-size: 100%;}
.uruguay{background:url(../images/flags/uruguay.png)  no-repeat;background-size: 100%;}
.uzbekistn{background:url(../images/flags/uzbekistn.png)  no-repeat;background-size: 100%;}
.vanuatu{background:url(../images/flags/vanuatu.png)  no-repeat;background-size: 100%;}
.vatican-city{background:url(../images/flags/vatican-city.png)  no-repeat;background-size: 100%;}
.venezuela{background:url(../images/flags/venezuela.png)  no-repeat;background-size: 100%;}
.vietnam{background:url(../images/flags/vietnam.png)  no-repeat;background-size: 100%;}
.virgin-islands{background:url(../images/flags/virgin-islands.png)  no-repeat;background-size: 100%;}
.wales{background:url(../images/flags/wales.png)  no-repeat;background-size: 100%;}
.western-sahara{background:url(../images/flags/western-sahara.png)  no-repeat;background-size: 100%;}
.yemen{background:url(../images/flags/yemen.png)  no-repeat;background-size: 100%;}
.zambia{background:url(../images/flags/zambia.png)  no-repeat;background-size: 100%;}
.zimbabwe{background:url(../images/flags/zimbabwe.png)  no-repeat;background-size: 100%;}
.newsland{background:url(../images/flags/newsland.png)  no-repeat;background-size: 100%;}
.srilanka{background:url(../images/flags/serilanka.png)  no-repeat;background-size: 100%;}

